<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 命名空间 -->
<mapper namespace="AuditFindDataBaseMapper">



    <sql id="AuditFindDataBaseVo">
        select id ,problem_summary,problem_description,audit_time,audit_involved,audit_project,
           audit_model_number,create_person,create_time,update_person,update_time,isdel from audit_elements_find_database
    </sql>

    <resultMap type="com.cxsj.mxzd.pojo.AuditFindDataBase" id="AuditFindDataBaseMap">
        <result property="id" column="id" />
        <result property="problemSummary" column="problem_summary" />
        <result property="problemDescription" column="problem_description" />
        <result property="auditTime" column="audit_time" />
        <result property="auditInvolved" column="audit_involved" />
        <result property="auditProject" column="audit_project" />
        <result property="auditModelNumber" column="audit_model_number" />
        <result property="createPerson" column="create_person" />
        <result property="createTime" column="create_time" />
        <result property="updatePerson" column="update_person" />
        <result property="updateTime" column="update_time" />
        <result property="isdel" column="isdel" />

    </resultMap>


    <!--查询审计发现库 -->
    <select id="selectAuditFindDataBase" resultMap="AuditFindDataBaseMap">
        <include refid="AuditFindDataBaseVo"/>
        <where>
            <if test="id != null ">and id = like CONCAT('%', #{id}, '%')</if>
            <if test="problemSummary != null "> and problem_summary like CONCAT('%', #{problemSummary}, '%'), '%')</if>
            <if test="problemDescription != null  and problemDescription != ''"> and problem_description like CONCAT('%', #{problemDescription}, '%'), '%')</if>
            <if test="auditTime != null  and auditTime != ''"> and audit_time = like CONCAT('%', #{auditTime}, '%')</if>
            <if test="auditInvolved != null  and auditInvolved != ''"> and audit_involved like CONCAT('%', #{auditInvolved}, '%'), '%')</if>
            <if test="auditProject != null "> and audit_project = like CONCAT('%', #{auditProject}, '%')</if>
            <if test="auditModelNumber != null "> and audit_model_number = like CONCAT('%', #{auditModelNumber}, '%')</if>
            <if test="createPerson != null "> and create_person = like CONCAT('%', #{createPerson}, '%')</if>
            <if test="createTime != null "> and create_time = like CONCAT('%', #{createTime}, '%')</if>
            <if test="updatePerson != null "> and update_person = like CONCAT('%', #{updatePerson}, '%')</if>
            <if test="updateTime != null "> and update_time = like CONCAT('%', #{updateTime}, '%')</if>
             and isdel =1
        </where>
    </select>


    <!--插入审计库内容-->
    <insert id="insertAuditFindDataBase" parameterType="com.cxsj.mxzd.pojo.AuditFindDataBase" keyProperty="id" useGeneratedKeys="true">
        insert into audit_elements_find_database
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="problemSummary != null ">problem_summary,</if>
            <if test="problemDescription != null  and problemDescription != ''">problem_description,</if>
            <if test="auditTime != null  and auditTime != ''">audit_time,</if>
            <if test="auditInvolved != null  and auditInvolved != ''">audit_involved,</if>
            <if test="auditProject != null">audit_project,</if>
            <if test="auditModelNumber != null">audit_model_number,</if>
            <if test="createPerson != null  and createPerson != ''">create_person,</if>
            <!--<if test="createTime != null  and createTime != ''">create_time,</if>-->
            create_time,
            <if test="updatePerson != null  and updatePerson != ''">update_person,</if>
            <!--<if test="updateTime != null  and updateTime != ''">update_time,</if>-->
            update_time,
            <if test="isdel != null  and isdel != ''">isdel,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="problemSummary != null ">like CONCAT('%', #{problemSummary}, '%'),</if>
            <if test="problemDescription != null  and problemDescription != ''">like CONCAT('%', #{problemDescription}, '%'),</if>
            <if test="auditTime != null  and auditTime != ''">like CONCAT('%', #{auditTime}, '%'),</if>
            <if test="auditInvolved != null  and auditInvolved != ''">like CONCAT('%', #{auditInvolved}, '%'),</if>
            <if test="auditProject != null  ">like CONCAT('%', #{auditProject}, '%'),</if>
            <if test="auditModelNumber != null  ">like CONCAT('%', #{auditModelNumber}, '%'),</if>
            <if test="createPerson != null  and createPerson != ''">like CONCAT('%', #{createPerson}, '%'),</if>
            NOW(),
            <if test="updatePerson != null  and updatePerson != ''">like CONCAT('%', #{updatePerson}, '%'),</if>
            NOW(),
            <if test="isdel != null  and isdel != ''">like CONCAT('%', #{isdel}, '%'),</if>

        </trim>
    </insert>

<!--修改-->
    <update id="updateAuditFindDataBase">
        UPDATE audit_elements_find_database
        <trim prefix="SET" suffixOverrides=",">
            <if test="problemSummary != null ">problem_summary=like CONCAT('%', #{problemSummary}, '%'),</if>
            <if test="problemDescription != null  and problemDescription != ''">problem_description=like CONCAT('%', #{problemDescription}, '%'),</if>
            <if test="auditTime != null  and auditTime != ''">audit_time=like CONCAT('%', #{auditTime}, '%'),</if>
            <if test="auditInvolved != null  and auditInvolved != ''">audit_involved=like CONCAT('%', #{auditInvolved}, '%'),</if>
            <if test="auditProject != null">audit_project=like CONCAT('%', #{auditProject}, '%'),</if>
            <if test="auditModelNumber != null">audit_model_number=like CONCAT('%', #{auditModelNumber}, '%'),</if>
            <if test="createPerson != null  and createPerson != ''">create_person=like CONCAT('%', #{createPerson}, '%'),</if>
            <if test="createTime != null  and createTime != ''">create_time=like CONCAT('%', #{createTime}, '%'),</if>
            <if test="updatePerson != null  and updatePerson != ''">update_person,</if>
            <if test="updateTime != null  and updateTime != ''">update_time=like CONCAT('%', #{updateTime}, '%'),</if>
            <if test="isdel != null  and isdel != ''">isdel=like CONCAT('%', #{isdel}, '%')</if>
        </trim>
        where audit_model_number = like CONCAT('%', #{auditModelNumber}, '%')
    </update>

        <!--删除-->
        <update id="deleteByAuditModelNumber">
            UPDATE audit_elements_find_database SET isdel=0  where audit_model_number = like CONCAT('%', #{auditModelNumber}, '%')
        </update>
    <select id="selectByAuditModelNumber" parameterType="java.lang.String" resultMap="AuditFindDataBaseMap">
        select * from audit_elements_find_database   where audit_model_number = like CONCAT('%', #{auditModelNumber}, '%') AND isdel=1;
    </select>



    <insert id="inserts" parameterType="java.util.List" >
        insert into audit_elements_find_database(id,problem_summary,problem_description,audit_time,audit_involved,audit_project,audit_model_number,
        create_person,create_time,update_person,update_time,isdel)
        values
        <foreach collection="list" item="auditFindDataBase" separator=",">
            (like CONCAT('%', #{auditFindDataBase.id}, '%'),like CONCAT('%', #{auditFindDataBase.problemSummary}, '%'), like CONCAT('%', #{auditFindDataBase.problemDescription}, '%'),like CONCAT('%', #{auditFindDataBase.auditTime}, '%'),
            like CONCAT('%', #{auditFindDataBase.auditInvolved}, '%'),like CONCAT('%', #{auditFindDataBase.auditProject}, '%'),
            like CONCAT('%', #{auditFindDataBase.auditModelNumber}, '%'), like CONCAT('%', #{auditFindDataBase.createPerson}, '%'), NOW(),
            like CONCAT('%', #{auditFindDataBase.updatePerson}, '%'), NOW(),1)
        </foreach>
    </insert>

</mapper>


