<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 命名空间 -->
<mapper namespace="com.cxsj.mxzd.mapper.mysql.MysqlDataAuditPracticeFrameworkMapper">


    <resultMap type="com.cxsj.mxzd.pojo.AuditElementInfo" id="AuditElementInfoMap">
        <result property="id" column="id"/>
        <result property="auditPointNumber" column="audit_point_number"/>
        <result property="auditPointName" column="audit_point_name"/>
        <result property="auditModelNumber" column="audit_model_number"/>
        <result property="auditModelName" column="audit_model_name"/>
        <result property="auditModelDescribe" column="audit_model_describe"/>
        <result property="informationSupplement" column="information_supplement"/>
        <result property="informationSources" column="information_sources"/>
        <result property="remark" column="remark"/>
        <result property="expectedRisks" column="expected_risks"/>
        <result property="auditBusinessLogic" column="audit_business_logic"/>
        <result property="executionLogic" column="execution_logic"/>
        <result property="primaryBusinessProcess" column="primary_business_process"/>

        <result property="expectedDataRequirements" column="expected_data_requirements"/>
        <result property="expectedDataCoversUnitDemand" column="expected_data_covers_unit_demand"/>
        <result property="requirementsInvolveTheSystem" column="requirements_involve_the_system"/>
        <result property="subordinateToSystem" column="subordinate_to_system"/>
        <result property="modelCode" column="model_code"/>
        <result property="secondaryBusinessProcess" column="secondary_business_process"/>
        <result property="isdel" column="isdel"/>
        <result property="isOnline" column="is_online"/>
        <result property="model_owner" column="modelOwner"/>
        <result property="model_owner_depy" column="modelOwnerDepy"/>

    </resultMap>


    <resultMap type="com.cxsj.mxzd.pojo.AuditElementsSystemParam" id="AuditElementsSystemParamMap">
        <result property="auditModelNumber" column="audit_model_number"/>
        <result property="codeRequirement" column="code_requirement"/>
        <result property="fileName" column="file_name"/>
        <result property="specificationRequirement" column="specification_requirement"/>
        <result property="referenceNumber" column="reference_number"/>
        <result property="dispatchTime" column="dispatch_time"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="standardBasis" column="standard_basis"/>
    </resultMap>


    <select id="getUserMessage" resultType="java.util.Map" parameterType="com.cxsj.mxzd.pojo.PersonalCenter">
        SELECT dock_people AS people,
               write_time AS TIME,
              dock_department AS department,
              dock_phone AS phone
        FROM `audit_elements_operation_steps`
        WHERE delete_status = '1'
          AND information_type like CONCAT('%', #{informationType}, '%')
          AND audit_model_number like CONCAT('%', #{auditModelNumber}, '%')
    </select>


    <!--一级业务流程 审计库下拉框当中的数据 -->
    <select id="getDropdownboxNo1TableNew" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT DISTINCT "primary_business_process" AS `lable`, `primary_business_process` AS `value`
        FROM audit_elements_business_process
        where "primary_business_process" is not null
          and "primary_business_process" !=''
    </select>



    <select id="selectPrvdBusinessCode" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `prvd_code` AS prvdCode
        FROM `audit_code_rule`
        WHERE `prvd_bus` like CONCAT('%', #{busiUnitCode}, '%') LIMIT 1
    </select>




    <select id="selectBusiUnitCode" parameterType="com.cxsj.mxzd.pojo.AuditElementsParam" resultType="java.lang.String">
        SELECT
        a.`busiUnitCode`
        FROM
        hpmgr.`bonc_union_userinfos` a
        LEFT JOIN hpmgr.`bonc_cmwa_prvd` b
        ON a.`busiUnitCode` = b.org_code
        WHERE a.userName like CONCAT('%', #{dockPeople}, '%')
        <if test="dockDepartment!= null and dockDepartment !='集团公司' ">
            AND like CONCAT('%', #{dockDepartment}, '%') LIKE '%' || REPLACE(b.`org_name`, '公司', '') || '%'
        </if>
        LIMIT 1
    </select>

    <!--二级业务流程 审计库下拉框当中的数据 -->
    <select id="getDropdownboxMo2TableNew" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT DISTINCT
        "secondary_business_process" AS `lable`, `secondary_business_process` AS `value`
        FROM
        audit_elements_business_process
        where "secondary_business_process" IS NOT NULL
        AND `secondary_business_process`!=''
        <if test="business1 != null and business1 !=''">
            and "primary_business_process" like CONCAT('%', #{business1}, '%')
        </if>
    </select>

    <!--根据二级业务流程名称查询二级业务流程编码 -->
    <select id="getBusiness2Number" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT DISTINCT "secondary_business_process_id" AS `id`
        FROM audit_elements_business_process
        WHERE `secondary_business_process` like CONCAT('%', #{business2}, '%')
          and "primary_business_process" like CONCAT('%', #{business1}, '%')
    </select>



    <!--查询二级业务流程下的审计点个数 -->
    <select id="getauditPointCount" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT COUNT(audit_point_number) AS auditpointcount
        FROM `audit_elements_info`
        WHERE secondary_business_process like CONCAT('%', #{business2}, '%')
          AND audit_point_number LIKE '%' || like CONCAT('%', #{depmCode}, '%') || '%'
    </select>


    <!--根据审计点查询对应的审计模型数量 -->
    <select id="getAuditModelNum" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT CASE
                   WHEN MAX(SUBSTR(audit_model_number, - 3)) IS NULL
                       THEN '1'
                   ELSE MAX(SUBSTR(audit_model_number, - 3)) + 1
                   END
        FROM `audit_elements_info`
        WHERE audit_point_number like CONCAT('%', #{auditPointNumber}, '%')
    </select>

    <!--根据一级业务流程，二级业务流程，审计点名称查询当前审计点是否存在 -->
    <select id="getauditElementsParam" parameterType="com.cxsj.mxzd.pojo.AuditElementsParam"
            resultType="java.lang.String">
        SELECT audit_point_number
        FROM `audit_elements_info`
        WHERE primary_business_process like CONCAT('%', #{primaryBusinessProcess}, '%')
          AND secondary_business_process like CONCAT('%', #{secondaryBusinessProcess}, '%')
          AND audit_point_name like CONCAT('%', #{auditPointName}, '%')
          AND audit_point_number LIKE '%' || like CONCAT('%', #{depmCode}, '%') || '%' LIMIT 1
    </select>


    <select id="getAuditModelNo" parameterType="com.cxsj.mxzd.pojo.AuditElementsParam" resultType="java.lang.String">
        SELECT audit_model_number
        FROM `audit_elements_info`
        WHERE audit_model_name like CONCAT('%', #{auditModelName}, '%')
          AND `audit_point_number` like CONCAT('%', #{auditPointNumber}, '%')
    </select>

    <!--个人中心信息新增维度信息 -->
    <insert id="insertsystemMessage" parameterType="com.cxsj.mxzd.pojo.AuditElementsSystemParam">
        INSERT INTO `audit_elements_system`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="auditModelNumber != null ">audit_model_number,</if>
            <if test="codeRequirement != null ">code_requirement,</if>
            <if test="fileName != null ">file_name,</if>
            <if test="specificationRequirement != null ">specification_requirement,</if>
            <if test="referenceNumber != null ">reference_number,</if>
            <if test="dispatchTime != null ">dispatch_time,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
            <if test="standardBasis != null ">standard_basis,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="auditModelNumber != null ">like CONCAT('%', #{auditModelNumber}, '%'),</if>
            <if test="codeRequirement != null ">like CONCAT('%', #{codeRequirement}, '%'),</if>
            <if test="fileName != null ">like CONCAT('%', #{fileName}, '%'),</if>
            <if test="specificationRequirement != null ">like CONCAT('%', #{specificationRequirement}, '%'),</if>
            <if test="referenceNumber != null ">like CONCAT('%', #{referenceNumber}, '%'),</if>
            <if test="dispatchTime != null ">like CONCAT('%', #{dispatchTime}, '%'),</if>
            <if test="startTime != null ">like CONCAT('%', #{startTime}, '%'),</if>
            <if test="endTime != null ">like CONCAT('%', #{endTime}, '%'),</if>
            <if test="standardBasis != null ">like CONCAT('%', #{standardBasis}, '%'),</if>
        </trim>
    </insert>


    <!--批量保存制度信息 -->
    <insert id="insertAllsystemMessage">
        INSERT INTO `audit_elements_system` (
        audit_model_number,
        code_requirement,
        file_name,
        specification_requirement,
        reference_number,
        dispatch_time,
        start_time,
        end_time,
        standard_basis
        )
        VALUES
        <foreach collection="list" item="emp" separator=",">
            (
            like CONCAT('%', #{emp.auditModelNumber}, '%'),
            like CONCAT('%', #{emp.codeRequirement}, '%'),
            like CONCAT('%', #{emp.fileName}, '%'),
            like CONCAT('%', #{emp.specificationRequirement}, '%'),
            like CONCAT('%', #{emp.referenceNumber}, '%'),
            like CONCAT('%', #{emp.dispatchTime}, '%'),
            like CONCAT('%', #{emp.startTime}, '%'),
            like CONCAT('%', #{emp.endTime}, '%'),
            like CONCAT('%', #{emp.standardBasis}, '%')
            )
        </foreach>
    </insert>


    <!--修改制度库信息-->
    <update id="updatesystemMessage" parameterType="com.cxsj.mxzd.pojo.AuditElementsSystemParam">
        UPDATE `audit_elements_system`
        SET code_requirement          like CONCAT('%', #{codeRequirement}, '%'),
            file_name                 like CONCAT('%', #{fileName}, '%'),
            specification_requirement like CONCAT('%', #{specificationRequirement}, '%'),
            reference_number          like CONCAT('%', #{referenceNumber}, '%'),
            dispatch_time             like CONCAT('%', #{dispatchTime}, '%'),
            start_time                like CONCAT('%', #{startTime}, '%'),
            end_time                  like CONCAT('%', #{endTime}, '%')
        WHERE audit_model_number like CONCAT('%', #{auditModelNumber}, '%')
          AND delete_status = '1'
    </update>


    <!--删除制度库信息（设置删除标志为已经删除）-->
    <update id="updatesystemdeleteStaues" parameterType="com.cxsj.mxzd.pojo.AuditElementsSystemParam">
        UPDATE `audit_elements_system`
        SET delete_status = '0'
        WHERE audit_model_number like CONCAT('%', #{auditModelNumber}, '%')
          AND delete_status = '1'
    </update>


    <!--删除基础模型信息当中的审计模型设计部分数据-->
    <update id="updateAuditElementInfoDeleteStaues" parameterType="com.cxsj.mxzd.pojo.AuditElementInfo">
        UPDATE `audit_elements_info`
        SET audit_business_logic=NULL,
            expected_risks =NULL,
            expected_data_requirements=NULL,
            expected_data_covers_unit_demand=NULL,
            requirements_involve_the_system=NULL
        WHERE audit_model_number like CONCAT('%', #{auditModelNumber}, '%')
    </update>


    <!--根据审计点查询对应的审计模型设计页面基础信息 -->
    <select id="selectAuditElementInfo" resultMap="AuditElementInfoMap" parameterType="java.lang.String">
        SELECT a.`audit_point_number`,
               a.`audit_point_name`,
               a.`audit_model_number`,
               a.`audit_model_name`,
               a.`primary_business_process`,
               a.`secondary_business_process`,
               a.`audit_business_logic`,
               a.`execution_logic`,
               a.`expected_risks`,
               a.`expected_data_requirements`,
               a.`expected_data_covers_unit_demand`,
               a.`requirements_involve_the_system`,
               a.`is_online`,
               COALESCE(b.`model_owner`, b.`dock_people`) AS `model_owner`,
               COALESCE(
                       b.`model_owner_depy`,
                       b.`dock_deputy`
                   )                                  AS `model_owner_depy`
        FROM `hpeapm`.`audit_elements_info` a
                 LEFT JOIN `hpeapm`.`spl_model_type` b
                           ON a.`audit_model_number` = b.`audit_model_number`
        WHERE a.`audit_model_number` like CONCAT('%', #{auditModelNumber}, '%')
    </select>



    <!--根据审计点查询对应的审计模型设计页面基础信息 -->
    <select id="getsystemMyssage" resultMap="AuditElementsSystemParamMap" parameterType="java.lang.String">
        SELECT *
        FROM audit_elements_system
        WHERE `audit_model_number` like CONCAT('%', #{auditModelNumber}, '%')
          AND `delete_status` = '1'

    </select>

    <resultMap id="AuditElementsParamMap" type="com.cxsj.mxzd.pojo.AuditElementsParam">
        <result column="audit_point_number" property="auditPointNumber"/>
        <result column="audit_point_name" property="auditPointName"/>
        <result column="audit_model_number" property="auditModelNumber"/>
        <result column="audit_model_name" property="auditModelName"/>
        <result column="dock_people" property="dockPeople"/>
        <result column="detailed_time" property="detailedTime"/>
        <result column="dock_department" property="dockDepartment"/>
        <result column="primary_business_process" property="primaryBusinessProcess"/>
        <result column="secondary_business_process" property="secondaryBusinessProcess"/>
        <result column="audit_business_logic" property="auditBusinessLogic"/>
        <result column="execution_logic" property="executionLogic"/>
        <result property="expectedRisks" column="expected_risks"/>
        <result column="expected_data_requirements" property="expectedDataRequirements"/>
        <result column="expected_data_covers_unit_demand" property="expectedDataCoversUnitDemand"/>
        <result column="requirements_involve_the_system" property="requirementsInvolveTheSystem"/>
        <result column="type_of_information" property="typeOfInformation"/>
        <result column="is_online" property="isOnline"/>
        <result column="is_syn" property="isSyn"/>
        <result column="syn_url" property="synUrl"/>
        <result column="modelOwner" property="modelOwner"/>
        <collection property="auditElementsSystemParams" column="audit_model_number"
                    ofType="com.cxsj.mxzd.pojo.AuditElementsSystemParam" javaType="java.util.List">
            <id property="auditModelNumber" column="audit_model_number_1"/>
            <result property="codeRequirement" column="code_requirement"/>
            <result property="fileName" column="file_name"/>
            <result property="specificationRequirement" column="specification_requirement"/>
            <result property="referenceNumber" column="reference_number"/>
            <result property="dispatchTime" column="dispatch_time"/>
            <result property="startTime" column="start_time"/>
            <result property="endTime" column="end_time"/>
            <result property="standardBasis" column="standard_basis"/>
            <result property="standardBasis" column="standardBasis"/>
        </collection>
    </resultMap>

    <select id="selectDataAuditPracticeFramework" resultMap="AuditElementsParamMap" parameterType="java.util.Map">
        select
        *
        from
        (
        SELECT
        _abc.*,
        _def.code_requirement AS code_requirement,
        _def.file_name AS file_name,
        _def.specification_requirement AS specification_requirement,
        _def.reference_number AS reference_number,
        _def.dispatch_time AS dispatch_time,
        _def.start_time AS start_time,
        _def.end_time AS end_time,
        _def.standard_basis AS standardBasis
        FROM
        ( SELECT
        *
        FROM
        (
        SELECT
        a.dockPeople as dock_people,
        a.auditPointNumber audit_point_number,
        a.auditPointName audit_point_name,
        a.auditModelNumber audit_model_number,
        a.auditModelName audit_model_name,
        a.typeOfInformation type_of_information,
        a.detailed_time detailed_time,
        a.dockDepartment dock_department,
        b.primaryBusinessProcess primary_business_process,
        b.secondaryBusinessProcess secondary_business_process,
        b.auditBusinessLogic audit_business_logic,
        b.executionLogic execution_logic,
        b.expectedRisks expected_risks,
        b.expectedDataRequirements expected_data_requirements,
        b.expectedDataCoversUnitDemand expected_data_covers_unit_demand,
        b.requirementsInvolveTheSystem requirements_involve_the_system,
        b.isOnline as is_online,
        b.isSyn as is_syn,
        b.synUrl as syn_url,
        b.modelOwner
        FROM
        (SELECT
        a.`audit_point_number` AS auditPointNumber,
        a.`audit_point_name` AS auditPointName,
        a.`audit_model_number` AS auditModelNumber,
        a.`audit_model_name` AS auditModelName,
        a.`dock_people` AS dockPeople,
        a.type_of_information typeOfInformation,
        a.dock_department dockDepartment,
        a.detailed_time detailed_time
        FROM `audit_elements_operation_steps` a
        WHERE a.information_type = '审计模型设计'
        AND a.delete_status = '1'
        <if test="isImport!= null and isImport !='' ">AND a.`is_import` like CONCAT('%', #{isImport}, '%')</if>
        <if test="dockPeople!= null and dockPeople !='' ">AND a.`dock_people` like CONCAT('%', #{dockPeople}, '%')</if>
        <if test="dockDepartment!= null and dockDepartment != '' ">AND a.`dock_department` LIKE like CONCAT('%', #{dockDepartment}, '%')</if>
        <if test="auditPointName!= null and auditPointName != '' ">
            AND a.`audit_point_name` like CONCAT('%', #{auditPointName}, '%')
        </if>
        <if test="auditPointNumber!= null and auditPointNumber != '' ">
            AND a.`audit_point_number` LIKE '%' || like CONCAT('%', #{auditPointNumber}, '%') || '%'
        </if>
        <if test="auditModelNumber!= null and auditModelNumber != '' ">
            AND a.`audit_model_number` LIKE '%' || like CONCAT('%', #{auditModelNumber}, '%') || '%'
        </if>
        <if test="auditModelName!= null and auditModelName != '' ">
            AND a.`audit_model_name` like CONCAT('%', #{auditModelName}, '%')
        </if>
        ) a
        JOIN
        (SELECT
        b.`audit_model_number` AS auditModelNumber,
        b.`primary_business_process` AS primaryBusinessProcess,
        b.`secondary_business_process` AS secondaryBusinessProcess,
        b.`audit_business_logic` AS auditBusinessLogic,
        b.`expected_risks` AS expectedRisks,
        b.`execution_logic` AS executionLogic,
        b.`expected_data_requirements` AS expectedDataRequirements,
        b.expected_data_covers_unit_demand AS expectedDataCoversUnitDemand,
        b.requirements_involve_the_system AS requirementsInvolveTheSystem,
        b.is_online AS isOnline,
        b.is_syn AS isSyn,
        b.syn_url AS synUrl,
        c.`model_owner` as modelOwner
        FROM `audit_elements_info` b
        LEFT JOIN `spl_model_type` c
        ON b.`audit_model_number`=c.`audit_model_number`
        WHERE 1=1
        <if test="prvdCode!= null and prvdCode == 'HQ0' ">
            and b.offline!='1'
        </if>
        <!--<if test="isImport== null"> AND is_online='1'</if>-->
        <if test="primaryBusinessProcess!= null and primaryBusinessProcess != '' ">AND b.`primary_business_process` =
            like CONCAT('%', #{primaryBusinessProcess}, '%')
        </if>
        <if test="secondaryBusinessProcess!= null and secondaryBusinessProcess != '' ">
            AND b.`secondary_business_process` like CONCAT('%', #{secondaryBusinessProcess}, '%')
        </if>
        <if test="informationSources!= null and informationSources != '' ">
            AND b.`information_sources` like CONCAT('%', #{informationSources}, '%')
        </if>
        ) b
        ON a.auditModelNumber = b.auditModelNumber
        ) abc ORDER BY abc.detailed_time DESC
        <if test="page!= null and size != null ">
            LIMIT like CONCAT('%', #{size}, '%') OFFSET like CONCAT('%', #{page}, '%')
        </if>
        ) _abc
        left JOIN
        (SELECT
        *
        FROM `audit_elements_system`
        WHERE delete_status = '1') _def
        ON _abc.audit_model_number = _def.audit_model_number
        ORDER BY _abc.detailed_time DESC
        ) a
    </select>


    <!--导出综合查询查询第一节点的信息 -->
    <select id="exportDataAuditPracticeFramework" resultType="com.cxsj.mxzd.pojo.exportParam.AuditModelDesignVo"
            parameterType="com.cxsj.mxzd.pojo.AuditElementsParam">
        select
        *
        from
        (
        SELECT
        _abc.dock_people AS dockPeople,
        _abc.dock_department AS dockDepartment,
        _abc.audit_point_number AS auditPointNumber ,
        _abc.audit_point_name AS auditPointName,
        _abc.audit_model_number AS auditModelNumber,
        _abc.audit_model_name AS auditModelName,
        _abc.primary_business_process primaryBusinessProcess,
        _abc.secondary_business_process secondaryBusinessProcess,
        _abc.audit_business_logic auditBusinessLogic,
        _abc.expected_risks expectedRisks,
        _abc.expected_data_requirements expectedDataRequirements,
        _abc.expected_data_covers_unit_demand expectedDataCoversUnitDemand,
        _abc.requirements_involve_the_system requirementsInvolveTheSystem,
        _def.code_requirement as codeRequirement,
        _def.file_name AS fileName,
        _def.specification_requirement AS specificationRequirement,
        _def.reference_number AS referenceNumber,
        _def.dispatch_time AS dispatchTime,
        _def.start_time AS startTime,
        _def.end_time AS endTime,
        _def.standard_basis AS standardBasis,
        _abc.executionLogic as executionLogic,
        _abc.modelOwner AS modelOwner
        FROM
        ( SELECT
        *
        FROM
        (
        SELECT
        a.dockPeople as dock_people,
        a.auditPointNumber audit_point_number,
        a.auditPointName audit_point_name,
        a.auditModelNumber audit_model_number,
        a.auditModelName audit_model_name,
        a.typeOfInformation type_of_information,
        a.detailed_time detailed_time,
        a.dockDepartment dock_department,
        b.primaryBusinessProcess primary_business_process,
        b.secondaryBusinessProcess secondary_business_process,
        b.auditBusinessLogic audit_business_logic,
        b.expectedRisks expected_risks,
        b.expectedDataRequirements expected_data_requirements,
        b.expectedDataCoversUnitDemand expected_data_covers_unit_demand,
        b.requirementsInvolveTheSystem requirements_involve_the_system,
        b.isOnline as is_online,
        b.executionLogic as executionLogic,
        b.modelOwner as modelOwner
        FROM
        (SELECT
        a.`audit_point_number` AS auditPointNumber,
        a.`audit_point_name` AS auditPointName,
        a.`audit_model_number` AS auditModelNumber,
        a.`audit_model_name` AS auditModelName,
        a.`dock_people` AS dockPeople,
        a.type_of_information typeOfInformation,
        a.dock_department dockDepartment,
        a.detailed_time detailed_time
        FROM `audit_elements_operation_steps` a
        WHERE a.information_type = '审计模型设计'
        AND a.delete_status = '1'
        <if test="isImport!= null and isImport !='' ">AND a.`is_import` like CONCAT('%', #{isImport}, '%')</if>
        <if test="dockPeople!= null and dockPeople !='' ">AND a.`dock_people` like CONCAT('%', #{dockPeople}, '%')</if>
        <if test="dockDepartment!= null and dockDepartment != '' ">AND a.`dock_department` LIKE like CONCAT('%', #{dockDepartment}, '%')</if>
        <if test="auditPointName!= null and auditPointName != '' ">
            AND a.`audit_point_name` like CONCAT('%', #{auditPointName}, '%')
        </if>
        <if test="auditPointNumber!= null and auditPointNumber != '' ">
            AND a.`audit_point_number` LIKE '%' || like CONCAT('%', #{auditPointNumber}, '%') || '%'
        </if>
        <if test="auditModelNumber!= null and auditModelNumber != '' ">
            AND a.`audit_model_number` LIKE '%' || like CONCAT('%', #{auditModelNumber}, '%') || '%'
        </if>
        <if test="auditModelName!= null and auditModelName != '' ">
            AND a.`audit_model_name` like CONCAT('%', #{auditModelName}, '%')
        </if>
        ) a
        JOIN
        (SELECT
        b.`audit_model_number` AS auditModelNumber,
        b.`primary_business_process` AS primaryBusinessProcess,
        b.`secondary_business_process` AS secondaryBusinessProcess,
        b.`audit_business_logic` AS auditBusinessLogic,
        b.`expected_risks` AS expectedRisks,
        b.`expected_data_requirements` AS expectedDataRequirements,
        b.expected_data_covers_unit_demand AS expectedDataCoversUnitDemand,
        b.requirements_involve_the_system AS requirementsInvolveTheSystem,
        b.is_online AS isOnline,
        b.execution_logic AS executionLogic,
        c.model_owner as modelOwner
        FROM `audit_elements_info` b
        LEFT JOIN `spl_model_type` c
        ON b.`audit_model_number`=c.`audit_model_number`
        WHERE 1=1
        <if test="prvdCode!= null and prvdCode == 'HQ0' ">
            and b.offline!='1'
        </if>
        <if test="primaryBusinessProcess!= null and primaryBusinessProcess != '' ">AND b.`primary_business_process` =
            like CONCAT('%', #{primaryBusinessProcess}, '%')
        </if>
        <if test="secondaryBusinessProcess!= null and secondaryBusinessProcess != '' ">
            AND b.`secondary_business_process` like CONCAT('%', #{secondaryBusinessProcess}, '%')
        </if>
        <if test="informationSources!= null and informationSources != '' ">
            AND b.`information_sources` like CONCAT('%', #{informationSources}, '%')
        </if>
        ) b
        ON a.auditModelNumber = b.auditModelNumber
        ) abc ORDER BY abc.detailed_time DESC
        <if test="page!= null and size != null ">
            LIMIT like CONCAT('%', #{size}, '%') OFFSET like CONCAT('%', #{page}, '%')
        </if>
        ) _abc
        left JOIN
        (SELECT
        *
        FROM `audit_elements_system`
        WHERE delete_status = '1') _def
        ON _abc.audit_model_number = _def.audit_model_number
        ORDER BY _abc.detailed_time DESC
        ) a
    </select>


    <!--导出综合查询查询第一节点的信息 -->
    <select id="SelectDataAuditPracticeById" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT
            _abc.*,
            _def.code_requirement AS codeRequirement,
            _def.file_name AS fileName,
            _def.specification_requirement AS specificationRequirement,
            _def.reference_number AS referenceNumber,
            _def.dispatch_time AS dispatchTime,
            _def.start_time AS startTime,
            _def.end_time AS endTime
        FROM
            (SELECT
            a.dockPeople as dockPeople,
            a.auditPointNumber auditPointNumber,
            a.auditPointName auditPointName,
            a.auditModelNumber auditModelNumber,
            a.auditModelName auditModelName,
            b.primaryBusinessProcess primaryBusinessProcess,
            b.secondaryBusinessProcess secondaryBusinessProcess,
            b.auditBusinessLogic auditBusinessLogic,
            b.expectedRisks expectedRisks,
            b.expectedDataRequirements expectedDataRequirements,
            b.expectedDataCoversUnitDemand expectedDataCoversUnitDemand,
            b.requirementsInvolveTheSystem requirementsInvolveTheSystem
            FROM
            (SELECT
            a.`audit_point_number` AS auditPointNumber,
            a.`audit_point_name` AS auditPointName,
            a.`audit_model_number` AS auditModelNumber,
            a.`audit_model_name` AS auditModelName,
            a.`dock_people` AS dockPeople
            FROM `audit_elements_operation_steps` a
            WHERE a.information_type = '审计模型设计'
            AND a.delete_status = '1'
            AND a.`audit_model_number` like CONCAT('%', #{auditModelNumber}, '%')
            ) a
            JOIN
            (SELECT
            b.
            "audit_model_number" AS auditModelNumber,
            b.`primary_business_process` AS primaryBusinessProcess,
            b.`secondary_business_process` AS secondaryBusinessProcess,
            b.`audit_business_logic` AS auditBusinessLogic,
            b.`expected_risks` AS expectedRisks,
            b.`expected_data_requirements` AS expectedDataRequirements,
            b.expected_data_covers_unit_demand AS expectedDataCoversUnitDemand,
            b.requirements_involve_the_system AS requirementsInvolveTheSystem
            FROM `audit_elements_info` b
            WHERE 1=1
            ) b
            ON a.auditModelNumber = b.auditModelNumber) _abc
            left JOIN
            (SELECT
            *
            FROM `audit_elements_system`
            WHERE delete_status = '1') _def
        ON _abc.auditModelNumber = _def.audit_model_number
    </select>


    <select id="selectDataAuditPracticeFrameworkCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*) _count
        FROM
        (SELECT
        a.dockPeople as dock_people,
        a.auditPointNumber audit_point_number,
        a.auditPointName audit_point_name,
        a.auditModelNumber audit_model_number,
        a.auditModelName audit_model_name,
        a.typeOfInformation typeOfInformation,
        b.primaryBusinessProcess primary_business_process,
        b.secondaryBusinessProcess secondary_business_process,
        b.auditBusinessLogic audit_business_logic,
        b.expectedRisks expected_risks,
        b.expectedDataRequirements expected_data_requirements,
        b.expectedDataCoversUnitDemand expected_data_covers_unit_demand,
        b.requirementsInvolveTheSystem requirements_involve_the_system
        FROM
        (SELECT
        a.`audit_point_number` AS auditPointNumber,
        a.`audit_point_name` AS auditPointName,
        a.`audit_model_number` AS auditModelNumber,
        a.`audit_model_name` AS auditModelName,
        a.`dock_people` AS dockPeople,
        a.type_of_information as typeOfInformation
        FROM `audit_elements_operation_steps` a
        WHERE a.information_type = '审计模型设计'
        AND a.delete_status = '1'
        <if test="isImport!= null and isImport !='' ">AND a.`is_import` like CONCAT('%', #{isImport}, '%')</if>
        <if test="dockPeople!= null and dockPeople !='' ">AND a.`dock_people` like CONCAT('%', #{dockPeople}, '%')</if>
        <if test="dockDepartment!= null and dockDepartment != '' ">AND a.`dock_department` like like CONCAT('%', #{dockDepartment}, '%')</if>
        <if test="auditPointName!= null and auditPointName != '' ">
            AND a.`audit_point_name` like CONCAT('%', #{auditPointName}, '%')
        </if>
        <if test="auditPointNumber!= null and auditPointNumber != '' ">
            AND a.`audit_point_number` LIKE '%' || like CONCAT('%', #{auditPointNumber}, '%') || '%'
        </if>
        <if test="auditModelNumber!= null and auditModelNumber != '' ">
            AND a.`audit_model_number` LIKE '%' || like CONCAT('%', #{auditModelNumber}, '%') || '%'
        </if>
        <if test="auditModelName!= null and auditModelName != '' ">
            AND a.`audit_model_name` like CONCAT('%', #{auditModelName}, '%')
        </if>
        ) a
        JOIN
        (SELECT
        b.`audit_model_number` AS auditModelNumber,
        b.`primary_business_process` AS primaryBusinessProcess,
        b.`secondary_business_process` AS secondaryBusinessProcess,
        b.`audit_business_logic` AS auditBusinessLogic,
        b.`expected_risks` AS expectedRisks,
        b.`expected_data_requirements` AS expectedDataRequirements,
        b.expected_data_covers_unit_demand AS expectedDataCoversUnitDemand,
        b.requirements_involve_the_system AS requirementsInvolveTheSystem
        FROM `audit_elements_info` b
        WHERE 1=1
        <if test="prvdCode!= null and prvdCode == 'HQ0' ">
            and b.offline!='1'
        </if>
        <!-- <if test="isImport== null"> AND is_online='1'</if>-->
        <if test="primaryBusinessProcess!= null and primaryBusinessProcess != '' ">AND b.`primary_business_process` =
            like CONCAT('%', #{primaryBusinessProcess}, '%')
        </if>
        <if test="secondaryBusinessProcess!= null and secondaryBusinessProcess != '' ">
            AND b.`secondary_business_process` like CONCAT('%', #{secondaryBusinessProcess}, '%')
        </if>
        <if test="informationSources!= null and informationSources != '' ">
            AND b.`information_sources` like CONCAT('%', #{informationSources}, '%')
        </if>
        ) b
        ON a.auditModelNumber = b.auditModelNumber) _abc
    </select>


    <!--校验保存的模型是否已经存在 -->
    <select id="selectMdodelCont" resultType="java.lang.String" parameterType="com.cxsj.mxzd.pojo.AuditElementsParam">
        SELECT CASE WHEN a.a = 0 AND b.b = 0 THEN '0' ELSE '1' END AS `modelNum`
        FROM (SELECT COUNT(*) AS `a`
              FROM audit_elements_operation_steps
              WHERE delete_status = 1
                AND audit_model_number like CONCAT('%', #{auditModelNumber}, '%')
                AND audit_point_number like CONCAT('%', #{auditPointNumber}, '%')) a
                 LEFT JOIN
             (SELECT COUNT(*) AS `b`
              FROM audit_elements_info
              WHERE audit_model_number like CONCAT('%', #{auditModelNumber}, '%')
                AND audit_point_number like CONCAT('%', #{auditPointNumber}, '%')) b
             ON 1 = 1
    </select>

    <!--导出综合查询查询第一节点的信息 -->
    <select id="getcodeRequirements" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT DISTINCT
        SYS_UNIQUE_CODE  "id",
        SYS_NAME AS `name`
        FROM
        hpbus.system_audit_50001_newdate
        WHERE
        1 = 1
        AND `statis_ym` = ( SELECT DISTINCT MAX ( "statis_ym" ) FROM hpbus.system_audit_50001_newdate )
        <if test="dockDepartment!= null and dockDepartment != '' ">
            and "prov_name" like like CONCAT('%', #{dockDepartment}, '%')
            or "prov_name" like '%集团%'
        </if>
    </select>


    <!--导出综合查询查询第一节点的信息 -->
    <select id="getMessageBycodeRequirements" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT SEND_FILE_NAME      AS `fileName`,
               SYS_FIELD_TYP        AS `specificationRequirement`,
               SEND_FILE_UNIQUE_CODE AS `referenceNumber`,
               PRINT_TM              AS `dispatchTime`,
               PRINT_TM              AS `startTime`,
               END_TM                AS `endTime`
        FROM hpbus.system_audit_50001_newdate
        WHERE SYS_UNIQUE_CODE like CONCAT('%', #{codeRequirementId}, '%')
        order by statis_ym  desc
            limit 1
    </select>


</mapper>