<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 命名空间 -->
<mapper namespace="com.cxsj.mxzd.mapper.pg.OnlineModelMapper">


    <resultMap id="onlineModelPojoMap" type="com.cxsj.mxzd.pojo.OnlineModelPojo">
        <result column="audit_model_number" property="auditModelNumber"/>
        <result column="service_ownership_system" property="serviceOwnershipSystem"/>
        <result column="data_source_used_model" property="dataSourceUsedModel"/>
        <result column="data_start_time" property="dataStartTime"/>
        <result column="model_running_frequency" property="modelRunningFrequency"/>
        <result column="number_units_covered" property="numberUnitsCovered"/>
        <result column="number_of_provincial" property="numberOfProvincial"/>
        <result column="number_professional_institutions" property="numberProfessionalInstitutions"/>
        <result column="whether_cured_system" property="whetherCuredSystem"/>
        <result column="model_online_time" property="modelOnlineTime"/>
        <result column="sources_audit_practice" property="sourcesAuditPractice"/>
        <result column="ascription_special" property="ascriptionSpecial"/>
        <result column="online_remarks" property="onlineRemarks"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap type="com.cxsj.mxzd.pojo.AuditElementInfo" id="AuditElementInfoMap">
        <result property="id" column="id"/>
        <result property="auditPointNumber" column="audit_point_number"/>
        <result property="auditPointName" column="audit_point_name"/>
        <result property="auditModelNumber" column="audit_model_number"/>
        <result property="auditModelName" column="audit_model_name"/>
        <result property="primaryBusinessProcess" column="primary_business_process"/>
        <result property="secondaryBusinessProcess" column="secondary_business_process"/>
        <result property="writeTime" column="writeTime"/>
        <result property="isdel" column="isdel"/>
        <result property="dataContentDescription" column="data_content_description"/>
        <result property="auditModelDescribe" column="audit_model_describe"/>
        <result property="subordinateToSystem" column="subordinate_to_system"/>
        <result property="modelCode" column="model_code"/>
        <result property="auditBusinessLogic" column="audit_business_logic"/>
        <result property="auditModelBusinessLogic" column="audit_model_business_logic"/>
        <result property="accessTime" column="data_access_time"/>
        <result property="typeOfInformation" column="type_of_information"/>
        <result property="detailedTime" column="detailed_time"/>
        <result column="service_ownership_system" property="serviceOwnershipSystem"/>
        <result column="model_running_frequency" property="modelRunningFrequency"/>
        <result column="number_units_covered" property="numberUnitsCovered"/>
        <result column="number_of_provincial" property="numberOfProvincial"/>
        <result column="number_professional_institutions" property="numberProfessionalInstitutions"/>
        <result column="whether_cured_system" property="whetherCuredSystem"/>
        <result column="model_online_time" property="modelOnlineTime"/>
        <result column="sources_audit_practice" property="sourcesAuditPractice"/>
        <result column="ascription_special" property="ascriptionSpecial"/>
        <result column="online_remarks" property="onlineRemarks"/>
        <result column="isOnline" property="isOnline"/>
        <result column="is_online" property="isOnline"/>
        <result column="dataName" property="dataName"/>
        <result column="dataContentDescription" property="dataContentDescription"/>
        <result column="auditPointNumber" property="auditPointNumber"/>
        <result column="auditPointName" property="auditPointName"/>
        <result column="auditModelNumber" property="auditModelNumber"/>
        <result column="auditModelName" property="auditModelName"/>
        <result column="auditBusinessLogic" property="auditBusinessLogic"/>
        <result column="accessTime" property="accessTime"/>
        <result column="subordinateToSystem" property="subordinateToSystem"/>
        <result column="model_owner" property="modelOwner"/>
        <result column="model_owner_depy" property="modelOwnerDepy"/>
        <result column="quality_rating" property="qualityRating"/>
        <result column="model_code_file_id" property="modelCodeFileId"/>
        <result column="running_mode" property="runningMode"/>
        <result column="modelCode" property="modelCode"/>
        <result column="offModelLibrary" property="offModelLibrary"/>
        <result column="isShare" property="isShare"/>
    </resultMap>

    <select id="selectWriteTime" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT write_time
        FROM hpeapm.audit_elements_operation_steps
        WHERE audit_model_number = '%'||#{auditModelNumber}||'%'
          AND information_type = '模型信息预览'
          and delete_status = 1
    </select>

    <!-- 查询用户基本信息数据   -->
    <select id="selectOnlineDataByAuditModelNumber" parameterType="com.cxsj.mxzd.pojo.AuditElementsParam"
            resultMap="AuditElementInfoMap">
        SELECT supp.data_content_description dataContentDescription,
               info.audit_point_number AS    auditPointNumber,
               info.audit_point_name         auditPointName,
               info.audit_model_number       auditModelNumber,
               info.audit_model_name         auditModelName,
               info.audit_business_logic     auditBusinessLogic,
               info.subordinate_to_system    subordinateToSystem,
               info.model_code               modelCode,
               info.is_online          AS    is_online,
               COALESCE(
                       model."model_owner",
                       model.dock_people
                   )                   AS    model_owner,
               COALESCE(
                       model."model_owner_depy",
                       model.dock_deputy
                   )                   AS    model_owner_depy,
               info.quality_rating,
               info.model_code_file_id,
               info."running_mode",
               info."off_model_library"      offModelLibrary,
               info."is_share"               isShare
        FROM hpeapm.audit_elements_info AS info
                 LEFT JOIN hpeapm."spl_model_type" model
                           ON info."audit_model_number" = model."audit_model_number"
                 LEFT JOIN
             (SELECT audit_model_number,
                     STRING_AGG(c.name, ',') data_content_description
              FROM hpeapm.audit_elements_data_support_v2 c
              WHERE 1 = 1
                AND c.audit_model_number = '%'||#{auditModelNumber}||'%'
                AND c.isdel = 1) supp
             ON info.audit_model_number = supp.audit_model_number
        WHERE 1 = 1
          AND info.audit_model_number = '%'||#{auditModelNumber}||'%'
    </select>

    <!-- 根据审计模型编号查询模型评估与开发数据   -->
    <select id="getOnlineModelDataByAuditId" resultMap="onlineModelPojoMap">
        select *
        from hpeapm.audit_elements_online_model
        where 1 = 1
          AND audit_model_number = '%'||#{auditModelNumber}||'%'
          and is_deleted = 0
    </select>

    <!--  分页查询列表数据  -->
    <select id="selectOnlineModelList" parameterType="com.cxsj.mxzd.commom.ParamData"
            resultType="com.cxsj.mxzd.pojo.AuditElementInfo">
        SELECT
        b.data_content_description dataContentDescription,
        a.*
        FROM
        (
        SELECT
        _abc.auditPointNumber AS auditPointNumber,
        _abc.auditPointName AS auditPointName,
        _abc.auditModelNumber AS auditModelNumber,
        _abc.auditModelName AS auditModelName,
        _abc.dockPeople AS dockPeople,
        _abc.dockDepartment AS dockDepartment,
        _abc.primaryBusinessProcess AS primaryBusinessProcess,
        _abc.secondaryBusinessProcess AS secondaryBusinessProcess,
        _abc.auditBusinessLogic,
        _abc.subordinateToSystem,
        _abc.modelCode,
        _abc.isOnline,
        _abc.model_code_file_id modelCodeFileId,
        _abc.quality_rating qualityRating,
        ba.service_ownership_system serviceOwnershipSystem,
        ba.model_running_frequency modelRunningFrequency,
        ba.number_units_covered numberUnitsCovered,
        ba.number_of_provincial numberOfProvincial,
        ba.number_professional_institutions numberProfessionalInstitutions,
        ba.whether_cured_system whetherCuredSystem,
        ba.model_online_time modelOnlineTime,
        ba.sources_audit_practice sourcesAuditPractice,
        ba.ascription_special ascriptionSpecial,
        ba.online_remarks onlineRemarks,
        mo.data_content_description dataContentDescription,
        mo.data_access_time accessTime,
        _abc.remark AS remark,
        _abc.typeOfInformation,
        _abc.detailedTime,
        _abc.runningMode,
        CASE WHEN kk."type" IS NULL AND _abc.isOnline IS NOT NULL AND _abc.isOnline='0' THEN '1' ELSE '0' END AS canSubmit
        FROM
        (
        SELECT
        b.audit_business_logic AS auditBusinessLogic,
        b.subordinate_to_system AS subordinateToSystem,
        b.model_code AS modelCode,
        b.audit_point_number AS auditPointNumber,
        b.audit_point_name AS auditPointName,
        b.audit_model_number AS auditModelNumber,
        b.audit_model_name AS auditModelName,
        b.secondary_business_process AS secondaryBusinessProcess,
        b.primary_business_process AS primaryBusinessProcess,
        a.dock_people AS dockPeople,
        a.dock_department AS dockDepartment,
        b.remark remark,
        b.is_online as isOnline,
        b.model_code_file_id as model_code_file_id,
        b.quality_rating as quality_rating,
        a.type_of_information as typeOfInformation,
        a.detailed_time AS detailedTime,
        b.running_mode as runningMode
        FROM
        (
        SELECT
        audit_model_number,
        dock_people,
        dock_department,
        information_type,
        type_of_information,
        detailed_time
        FROM
        hpeapm.audit_elements_operation_steps
        WHERE delete_status = '1'
        <if test="dockPeople != null and dockPeople !=''">
            AND dock_people = '%'||#{dockPeople}||'%'
        </if>
        <if test="dockDepartment!= null and dockDepartment !=''">
            AND dock_department like like '%'||#{dockDepartment}||'%'
        </if>
        <if test="informationType != null and informationType!=''">
            AND information_type =like '%'||#{informationType}||'%'
        </if>
        <if test="isImport!= null and isImport !='' ">AND "is_import" = '%'||#{isImport}||'%'</if>
        ) a
        JOIN (
        SELECT
        audit_point_name,
        audit_model_number,
        audit_model_name,
        audit_point_number,
        remark remark,
        primary_business_process,
        secondary_business_process,
        audit_business_logic,
        subordinate_to_system,
        model_code,
        is_online,
        model_code_file_id,
        quality_rating,
        running_mode
        FROM
        hpeapm."audit_elements_info"
        WHERE
        1 = 1
        <if test="prvdCode!= null and prvdCode == 'HQ0' ">
            and offline!='1'
        </if>
        /*AND is_online='1'*/
        <!-- 一级-->
        <if test="primaryBusinessProcess != null and primaryBusinessProcess!=''">
            AND primary_business_process like '%'||like '%'||#{primaryBusinessProcess}||'%'||'%'
        </if>

        <!-- 二级-->
        <if test="secondaryBusinessProcess != null and secondaryBusinessProcess!=''">
            and secondary_business_process like '%'||like '%'||#{secondaryBusinessProcess}||'%'||'%'
        </if>
        <!-- 审计点编号-->
        <if test="auditPointNumber != null and auditPointNumber!=''">
            and audit_point_number like '%'||like '%'||#{auditPointNumber}||'%'||'%'
        </if>
        <!-- 审计点名称-->
        <if test="auditPointName != null and auditPointName!=''">
            and audit_point_name like '%'||like '%'||#{auditPointName}||'%'||'%'
        </if>

        <!-- 审计模型编号-->
        <if test="auditModelNumber != null and auditModelNumber!=''">
            and audit_model_number like '%'||like '%'||#{auditModelNumber}||'%'||'%'
        </if>

        <!-- 审计模型名称-->
        <if test="auditModelName != null and auditModelName!=''">
            and audit_model_name like '%'||like '%'||#{auditModelName}||'%'||'%'
        </if>
        ) b ON a.audit_model_number = b.audit_model_number
        ORDER BY detailedTime DESC
        LIMIT like '%'||#{size}||'%' OFFSET like '%'||#{page}||'%'
        ) _abc
        LEFT JOIN (
        SELECT
        audit_model_number,
        service_ownership_system,
        model_running_frequency,
        number_units_covered,
        number_of_provincial,
        number_professional_institutions,
        whether_cured_system,
        model_online_time,
        sources_audit_practice,
        ascription_special,
        online_remarks
        FROM
        hpeapm.audit_elements_online_model
        WHERE
        is_deleted = 0
        ) ba ON _abc.auditModelNumber = ba.audit_model_number
        LEFT JOIN (
        SELECT audit_model_number, STRING_AGG(data_content_description, ',')
        data_content_description,MIN(data_access_time) data_access_time
        FROM hpeapm.audit_elements_data_support WHERE isdel = 1
        GROUP BY audit_model_number
        ) mo ON ba.audit_model_number = mo.audit_model_number
        LEFT JOIN
        (SELECT
        examine_type AS "type",
        audit_model_number AS audit_model_number
        FROM
        hpeapm."spl_business_examine"
        WHERE is_complete = '0') kk
        ON _abc.auditModelNumber = kk.audit_model_number
        ) a
        left join
        (
        SELECT
        audit_model_number,
        STRING_AGG(c.name, ',') data_content_description
        FROM
        hpeapm.audit_elements_data_support_v2 c
        WHERE 1 = 1
        AND c.isdel = 1
        GROUP BY audit_model_number
        ) b
        on a.auditModelNumber=b.audit_model_number
        WHERE
        1 = 1 ORDER BY
        a.detailedTime DESC
    </select>

    <!-- 当前列表条数   -->
    <select id="selectOnlineModelListCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        *
        FROM
        (
        SELECT
        COUNT(DISTINCT _abc.auditModelNumber) as result
        FROM
        (
        SELECT
        b.audit_point_number AS auditPointNumber,
        b.audit_point_name AS auditPointName,
        b.audit_model_number AS auditModelNumber,
        b.audit_model_name AS auditModelName,
        b.primary_business_process as primaryBusinessProcess,
        b.secondary_business_process as secondaryBusinessProcess,
        b.audit_business_logic AS auditBusinessLogic,
        b.subordinate_to_system AS subordinateToSystem,
        b.model_code AS modelCode,
        a.dock_people AS dockPeople,
        a.dock_department as dockDepartment,
        a.type_of_information typeOfInformation,
        b.existing_data_of_model as existing_data_of_model,
        support_remark as remark,
        detailed_time as detailedTime
        FROM
        (
        SELECT
        audit_model_number,
        dock_people,
        dock_department,
        type_of_information,
        detailed_time
        FROM
        hpeapm.audit_elements_operation_steps
        WHERE
        information_type = '模型信息预览'
        AND delete_status = '1'
        <if test="dockPeople != null and dockPeople !=''">
            AND dock_people = '%'||#{dockPeople}||'%'
        </if>
        <if test="dockDepartment!= null and dockDepartment !=''">
            AND dock_department like like '%'||#{dockDepartment}||'%'
        </if>
        <if test="informationType != null and informationType!=''">
            AND information_type =like '%'||#{informationType}||'%'
        </if>
        <if test="isImport!= null and isImport !='' ">AND "is_import" = '%'||#{isImport}||'%'</if>
        )a
        JOIN(
        SELECT
        audit_business_logic,
        subordinate_to_system,
        model_code,
        primary_business_process,
        secondary_business_process,
        audit_point_number,
        audit_point_name,
        audit_model_number,
        audit_model_name,
        existing_data_of_model,
        support_remark
        FROM
        hpeapm."audit_elements_info"
        where 1=1
        <if test="prvdCode!= null and prvdCode == 'HQ0' ">
            and offline!='1'
        </if>
        /* AND is_online='1'*/
        <if test="primaryBusinessProcess != null and primaryBusinessProcess !=''">
            AND primary_business_process = '%'||#{primaryBusinessProcess}||'%'
        </if>
        <if test="secondaryBusinessProcess != null and secondaryBusinessProcess !=''">
            AND secondary_business_process = '%'||#{secondaryBusinessProcess}||'%'
        </if>
        <!-- 审计点编号-->
        <if test="auditPointNumber != null and auditPointNumber!=''">
            and audit_point_number like '%'||like '%'||#{auditPointNumber}||'%'||'%'
        </if>
        <!-- 审计点名称-->
        <if test="auditPointName != null and auditPointName!=''">
            and audit_point_name like '%'||like '%'||#{auditPointName}||'%'||'%'
        </if>

        <!-- 审计模型编号-->
        <if test="auditModelNumber != null and auditModelNumber!=''">
            and audit_model_number like '%'||like '%'||#{auditModelNumber}||'%'||'%'
        </if>
        <!-- 审计模型名称-->
        <if test="auditModelName != null and auditModelName!=''">
            and audit_model_name like '%'||like '%'||#{auditModelName}||'%'||'%'
        </if>
        )b ON a.audit_model_number = b.audit_model_number
        )_abc
        LEFT JOIN(
        SELECT
        audit_model_number,
        service_ownership_system serviceOwnershipSystem,
        model_running_frequency modelRunningFrequency,
        number_units_covered numberUnitsCovered,
        number_of_provincial numberOfProvincial,
        number_professional_institutions numberProfessionalInstitutions,
        whether_cured_system whetherCuredSystem,
        model_online_time modelOnlineTime,
        sources_audit_practice sourcesAuditPractice,
        ascription_special ascriptionSpecial,
        online_remarks onlineRemarks
        FROM
        hpeapm."audit_elements_online_model"
        WHERE
        is_deleted = 0
        )me ON _abc.auditModelNumber = me.audit_model_number
        LEFT JOIN ( SELECT audit_model_number, STRING_AGG(data_content_description, ',')
        data_content_description,MIN(data_access_time) data_access_time
        FROM hpeapm.audit_elements_data_support WHERE isdel = 1
        GROUP BY audit_model_number ) supp ON _abc.auditModelNumber = supp.audit_model_number
        )a where 1=1
    </select>

    <!--  录入  -->
    <insert id="insertOnlineModel">
        insert into hpeapm.audit_elements_online_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serviceOwnershipSystem != null  and serviceOwnershipSystem != ''">service_ownership_system,</if>
            <if test="modelRunningFrequency != null  and modelRunningFrequency != ''">model_running_frequency,</if>
            <if test="numberUnitsCovered != null  and numberUnitsCovered != ''">number_units_covered,</if>
            <if test="numberOfProvincial != null and numberOfProvincial != ''">number_of_provincial,</if>
            <if test="numberProfessionalInstitutions != null  and numberProfessionalInstitutions != ''">
                number_professional_institutions,
            </if>
            <if test="whetherCuredSystem != null  and whetherCuredSystem != ''">whether_cured_system,</if>
            <if test="modelOnlineTime != null  and modelOnlineTime != ''">model_online_time,</if>
            <if test="sourcesAuditPractice != null  and sourcesAuditPractice != ''">sources_audit_practice,</if>
            <if test="ascriptionSpecial != null  and ascriptionSpecial != ''">ascription_special,</if>
            <if test="onlineRemarks != null  and onlineRemarks != ''">online_remarks,</if>
            <if test="isDeleted != null  and isDeleted != ''">is_deleted,</if>
            <if test="auditModelNumber != null  and auditModelNumber != ''">audit_model_number</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serviceOwnershipSystem != null  and serviceOwnershipSystem != ''">like '%'||#{serviceOwnershipSystem}||'%',</if>
            <if test="modelRunningFrequency != null  and modelRunningFrequency != ''">like '%'||#{modelRunningFrequency}||'%',</if>
            <if test="numberUnitsCovered != null  and numberUnitsCovered != ''">like '%'||#{numberUnitsCovered}||'%',</if>
            <if test="numberOfProvincial != null and numberOfProvincial != ''">like '%'||#{numberOfProvincial}||'%',</if>
            <if test="numberProfessionalInstitutions != null  and numberProfessionalInstitutions != ''">
                like '%'||#{numberProfessionalInstitutions}||'%',
            </if>
            <if test="whetherCuredSystem != null  and whetherCuredSystem != ''">like '%'||#{whetherCuredSystem}||'%',</if>
            <if test="modelOnlineTime != null  and modelOnlineTime != ''">like '%'||#{modelOnlineTime}||'%',</if>
            <if test="sourcesAuditPractice != null  and sourcesAuditPractice != ''">like '%'||#{sourcesAuditPractice}||'%',</if>
            <if test="ascriptionSpecial != null  and ascriptionSpecial != ''">like '%'||#{ascriptionSpecial}||'%',</if>
            <if test="onlineRemarks != null  and onlineRemarks != ''">like '%'||#{onlineRemarks}||'%',</if>
            <if test="isDeleted != null  and isDeleted != ''">like '%'||#{isDeleted}||'%',</if>
            <if test="auditModelNumber != null  and auditModelNumber != ''">like '%'||#{auditModelNumber}||'%'</if>
        </trim>
    </insert>

    <!--  修改  -->
    <update id="updateOnlineModel">
        UPDATE hpeapm.audit_elements_online_model
        <set>
            <if test="serviceOwnershipSystem != null">
                service_ownership_system=like '%'||#{serviceOwnershipSystem}||'%',
            </if>
            <if test="modelRunningFrequency != null">
                model_running_frequency=like '%'||#{modelRunningFrequency}||'%',
            </if>
            <if test="numberUnitsCovered != null">
                number_units_covered=like '%'||#{numberUnitsCovered}||'%',
            </if>
            <if test="numberOfProvincial != null">
                number_of_provincial=like '%'||#{numberOfProvincial}||'%',
            </if>
            <if test="numberProfessionalInstitutions != null">
                number_professional_institutions=like '%'||#{numberProfessionalInstitutions}||'%',
            </if>
            <if test="whetherCuredSystem != null">
                whether_cured_system=like '%'||#{whetherCuredSystem}||'%',
            </if>
            <if test="modelOnlineTime != null">
                model_online_time=like '%'||#{modelOnlineTime}||'%',
            </if>
            <if test="sourcesAuditPractice != null">
                sources_audit_practice=like '%'||#{sourcesAuditPractice}||'%',
            </if>
            <if test="ascriptionSpecial != null">
                ascription_special=like '%'||#{ascriptionSpecial}||'%',
            </if>
            <if test="onlineRemarks != null">
                online_remarks=like '%'||#{onlineRemarks}||'%',
            </if>
            <if test="isDeleted != null">
                is_deleted=like '%'||#{isDeleted}||'%'
            </if>
        </set>
        where audit_model_number = '%'||#{auditModelNumber}||'%'
    </update>

    <!--  删除（修改当前数据的状态）  -->
    <update id="deleteOnlineModel">
        UPDATE hpeapm.audit_elements_online_model
        set is_deleted = 1
        where audit_model_number = '%'||#{auditModelNumber}||'%'
    </update>

    <!--  导出数据  -->
    <select id="selectOnlineModelData"
            parameterType="com.cxsj.mxzd.pojo.AuditElementsParam"
            resultType="com.cxsj.mxzd.pojo.exportParam.OnlineModelVo">
        SELECT
        b.data_content_description dataContentDescription,
        a.*,
        c.*,
        d.*
        FROM
        (
        SELECT
        _abc.auditPointNumber AS auditPointNumber,
        _abc.auditPointName AS auditPointName,
        _abc.auditModelNumber AS auditModelNumber,
        _abc.auditModelName AS auditModelName,
        _abc.dockPeople AS dockPeople,
        _abc.dockDepartment AS dockDepartment,
        _abc.primaryBusinessProcess AS primaryBusinessProcess,
        _abc.secondaryBusinessProcess AS secondaryBusinessProcess,
        _abc.auditBusinessLogic,
        _abc.subordinateToSystem,
        _abc.running_mode as runningMode,
        _abc.quality_rating AS qualityRating,
        ba.service_ownership_system serviceOwnershipSystem,
        ba.model_running_frequency modelRunningFrequency,
        ba.number_units_covered numberUnitsCovered,
        ba.number_of_provincial numberOfProvincial,
        ba.number_professional_institutions numberProfessionalInstitutions,
        ba.whether_cured_system AS whetherCuredSystem,
        ba.model_online_time modelOnlineTime,
        ba.sources_audit_practice sourcesAuditPractice,
        ba.ascription_special ascriptionSpecial,
        ba.online_remarks onlineRemarks,
        mo.data_content_description dataContentDescription,
        mo.data_access_time accessTime,
        _abc.remark AS remark,
        _abc.typeOfInformation,
        _abc.detailedTime
        FROM
        (
        SELECT
        b.audit_business_logic AS auditBusinessLogic,
        b.subordinate_to_system AS subordinateToSystem,
        b.model_code AS modelCode,
        b.audit_point_number AS auditPointNumber,
        b.audit_point_name AS auditPointName,
        b.audit_model_number AS auditModelNumber,
        b.audit_model_name AS auditModelName,
        b.secondary_business_process AS secondaryBusinessProcess,
        b.primary_business_process AS primaryBusinessProcess,
        a.dock_people AS dockPeople,
        a.dock_department AS dockDepartment,
        b.remark remark,
        b.running_mode,
        b.quality_rating,
        a.type_of_information as typeOfInformation,
        a.detailed_time AS detailedTime
        FROM
        (
        SELECT distinct
        audit_model_number,
        dock_people,
        dock_department,
        information_type,
        type_of_information,
        detailed_time
        FROM
        hpeapm.audit_elements_operation_steps
        WHERE
        delete_status = '1' AND information_type ='模型信息预览'
        <if test="dockPeople != null and dockPeople !=''">
            AND dock_people = '%'||#{dockPeople}||'%'
        </if>
        <if test="dockDepartment!= null and dockDepartment !=''">
            AND dock_department like like '%'||#{dockDepartment}||'%'
        </if>
        <if test="informationType != null and informationType!=''">
            AND information_type =like '%'||#{informationType}||'%'
        </if>
        <if test="isImport!= null and isImport !='' ">AND "is_import" = '%'||#{isImport}||'%'</if>
        ) a
        JOIN (
        SELECT distinct
        audit_point_name,
        audit_model_number,
        audit_model_name,
        audit_point_number,
        remark remark,
        primary_business_process,
        secondary_business_process,
        audit_business_logic,
        subordinate_to_system,
        model_code,
        running_mode,
        quality_rating
        FROM
        hpeapm."audit_elements_info"
        WHERE
        1 = 1
        <if test="prvdCode!= null and prvdCode == 'HQ0' ">
            and offline!='1'
        </if>
        <!-- 一级-->
        <if test="primaryBusinessProcess != null and primaryBusinessProcess!=''">
            AND primary_business_process like '%'||#{}||'%',like '%'||#{primaryBusinessProcess}||'%',like '%'||#{}||'%'
        </if>

        <!-- 二级-->
        <if test="secondaryBusinessProcess != null and secondaryBusinessProcess!=''">
            and secondary_business_process like '%'||#{}||'%',like '%'||#{secondaryBusinessProcess}||'%',like '%'||#{}||'%'
        </if>
        <!-- 审计点编号-->
        <if test="auditPointNumber != null and auditPointNumber!=''">
            and audit_point_number like '%'||#{}||'%',like '%'||#{auditPointNumber}||'%',like '%'||#{}||'%'
        </if>
        <!-- 审计点名称-->
        <if test="auditPointName != null and auditPointName!=''">
            and audit_point_name like '%'||#{}||'%',like '%'||#{auditPointName}||'%',like '%'||#{}||'%'
        </if>

        <!-- 审计模型编号-->
        <if test="auditModelNumber != null and auditModelNumber!=''">
            and audit_model_number like '%'||#{}||'%',like '%'||#{auditModelNumber}||'%',like '%'||#{}||'%'

        </if>

        <!-- 审计模型名称-->
        <if test="auditModelName != null and auditModelName!=''">
            and audit_model_name like '%'||#{}||'%',like '%'||#{auditModelName}||'%',like '%'||#{}||'%'
        </if>
        ) b ON a.audit_model_number = b.audit_model_number
        ORDER BY detailedTime DESC
        ) _abc
        LEFT JOIN (
        SELECT distinct
        audit_model_number,
        service_ownership_system,
        model_running_frequency,
        number_units_covered,
        number_of_provincial,
        number_professional_institutions,
        whether_cured_system,
        model_online_time,
        sources_audit_practice,
        ascription_special,
        online_remarks
        FROM
        hpeapm.audit_elements_online_model
        WHERE
        is_deleted = 0
        ) ba ON _abc.auditModelNumber = ba.audit_model_number
        LEFT JOIN (
        SELECT audit_model_number, STRING_AGG( data_content_description, ',' )
        data_content_description,MIN(data_access_time) data_access_time
        FROM hpeapm.audit_elements_data_support WHERE isdel = 1
        GROUP BY audit_model_number
        ) mo ON ba.audit_model_number = mo.audit_model_number
        ) a
        left join
        (
        SELECT
        audit_model_number,
        STRING_AGG(c.name, ',') data_content_description
        FROM
        hpeapm.audit_elements_data_support_v2 c
        WHERE 1 = 1
        AND c.isdel = 1
        GROUP BY audit_model_number
        ) b
        on a.auditModelNumber=b.audit_model_number
        left join
        (
        SELECT
        audit_model_number,
        problem_detail_description problemDetailDescriptionSj,
        problem_summary AS problemSummarySj,
        audit_period AS auditPeriodSj,
        involved_unit AS involvedUnitSj,
        audit_project AS auditProjectSj
        FROM
        hpeapm."audit_element_case" a
        WHERE a."type" = '1'
        and a.is_del=0
        ORDER BY a."type",
        "order"
        ) c
        on a.auditModelNumber=c.audit_model_number
        left join
        (
        SELECT
        audit_model_number,
        problem_detail_description problemDetailDescriptionYs,
        problem_summary AS problemSummaryYs,
        audit_period AS auditPeriodYs,
        involved_unit AS involvedUnitYs,
        audit_project AS auditProjectYs
        FROM
        hpeapm."audit_element_case" a
        WHERE a."type" = '2'
        and a.is_del=0
        ORDER BY a."type",
        "order"
        ) d
        on a.auditModelNumber=d.audit_model_number
        WHERE
        1 = 1 ORDER BY
        a.detailedTime DESC
    </select>


    <resultMap id="AuditCaseMap" type="com.cxsj.mxzd.pojo.AuditElementCaseEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="problem_detail_description" jdbcType="VARCHAR" property="problemDetailDescription"/>
        <result column="audit_model_number" jdbcType="VARCHAR" property="auditModelNumber"/>
        <result column="problem_summary" jdbcType="VARCHAR" property="problemSummary"/>
        <result column="audit_period" jdbcType="VARCHAR" property="auditPeriod"/>
        <result column="involved_unit" jdbcType="VARCHAR" property="involvedUnit"/>
        <result column="audit_project" jdbcType="VARCHAR" property="auditProject"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
    </resultMap>


    <select id="selectCaseMsgByAuditModelNumber" parameterType="java.util.Map" resultMap="AuditCaseMap">
        SELECT
        *
        FROM
        "hpeapm"."audit_element_case"
        WHERE 1 = 1
        and is_del=0
        AND audit_model_number IN
        <foreach collection="auditModelNumberList" item="item" index="index" open="(" close=")" separator=",">
            like '%'||#{item}||'%'
        </foreach>
        ORDER BY "order"
    </select>



    <update id="updateOnlineModelCaseDateType" parameterType="java.util.Map">
        UPDATE
        hpeapm."audit_element_case" a
        SET a."is_del" = '1'
        WHERE a."audit_model_number" = '%'||#{auditModelNumber}||'%'
        <if test="type != null">
            and a."type" = '%'||#{type}||'%'
        </if>
    </update>


    <insert id="insertOnlineModelCase" parameterType="java.util.Map">
        insert into
        hpeapm.audit_element_case(problem_detail_description, problem_summary, audit_period, involved_unit,
        audit_project, type, "order", audit_model_number)
        values
        <foreach collection="caseDates" item="case" index="index" open="(" separator="), (" close=")">
            like '%'||#{case.problemDetailDescription}||'%',
            like '%'||#{case.problemSummary}||'%',
            like '%'||#{case.auditPeriod}||'%',
            like '%'||#{case.involvedUnit}||'%',
            like '%'||#{case.auditProject}||'%',
            like '%'||#{case.type}||'%',
            like '%'||#{case.order}||'%',
            like '%'||#{case.auditModelNumber}||'%'
        </foreach>
    </insert>

</mapper>


