<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 模型字典审批 -->
<mapper namespace="com.cxsj.mxzd.mapper.pg.PgAuditOtherMapper">


    <!--更新审计点超市数据-->
    <update id="insertMaintenMsg" parameterType="com.cxsj.mxzd.pojo.MaintenMsgParam">
        UPDATE
            hpeapm."xbpj_operation_flow" a
        SET "bonc_audit_point"=#{auditCode},
            cmwa_export_path  = #{cmwaExportPath},
            cmca_file_type    = #{cmcaFileType},
            cmca_subject_id   = #{cmcaSubjectId},
            source_code       = #{sourceCode},
            belong_cmwa       = #{belongCmwa},
            "version"         = #{version},
            allow_down        = #{allowDown}
        WHERE "modelno" LIKE '%'||#{auditModelNumber}||'%'
    </update>


    <select id="selectAuditCodeCount" resultType="java.lang.Integer" parameterType="com.cxsj.mxzd.pojo.MaintenMsgParam">
        SELECT COUNT(*)
        FROM hpeapm."xbpj_operation_flow" a
        WHERE a."modelno"!=#{auditModelNumber}
          AND a.bonc_audit_point=#{auditCode}

    </select>


    <select id="selectModelNumberCount" resultType="java.lang.Integer"
            parameterType="com.cxsj.mxzd.pojo.MaintenMsgParam">
        SELECT COUNT(*)
        FROM hpeapm."xbpj_operation_flow" a
        WHERE a."modelno" LIKE '%'||#{auditModelNumber}||'%'
    </select>


    <!--在超市内新增数据-->
    <insert id="insertModelChaoshi" parameterType="java.util.Map">
        INSERT INTO hpeapm.xbpj_operation_flow (business1,
                                                  business2,
                                                  source,
                                                  business_area,
                                                  field,
                                                  AuditpointNo,
                                                  AuditpointName,
                                                  ModelNo,
                                                  ModelName,
                                                  model_type,
                                                  bonc_audit_point,
                                                  source_domain,
                                                  model_online_time,
                                                  audit_scope,
                                                  model_url,
                                                  model_OnlineJi_Time,
                                                  model_logic,
                                                  home_system,
                                                  data_source,
                                                  datastart_time,
                                                  modelrunning_frequency,
                                                  is_cured,
                                                  "order",
                                                  cmwa_export_path,
                                                  cmca_file_type,
                                                  cmca_subject_id,
                                                  source_code,
                                                  belong_cmwa,
                                                  version,
                                                  allow_down,
                                                  secondary_field,
                                                  source_old,
                                                  field_old) VALUES
            ( #{business1},#{business2},#{source},#{businessAre},#{field},#{auditPointNo},#{auditPointName},#{modelNo},#{modelName},#{model_type},#{auditCode},#{sourceDomain},
            #{model_online_time},#{audit_scope},#{model_url},#{model_OnlineJi_Time},#{model_logic},#{home_system},#{data_source},#{datastart_time},
            #{modelrunning_frequency},#{is_cured},#{order},#{cmwaExportPath},
            #{cmcaFileType},#{cmcaSubjectId},#{sourceCode},#{belongCmwa},#{version},#{allowDown},#{secondaryField},'',''
            )
    </insert>


    <update id="updateModelChaoshi" parameterType="java.util.Map">
        UPDATE hpeapm."xbpj_operation_flow"
        SET business1              LIKE '%'||#{business1}||'%',
            business2              LIKE '%'||#{business2}||'%',
            source                 LIKE '%'||#{source}||'%',
            business_area          LIKE '%'||#{businessArea}||'%',
            "field"                LIKE '%'||#{field}||'%',
            AuditpointNo           LIKE '%'||#{auditPointNo}||'%',
            AuditpointName         LIKE '%'||#{auditPointName}||'%',
            ModelName              LIKE '%'||#{modelName}||'%',
            model_type             LIKE '%'||#{model_type}||'%',
            bonc_audit_point       LIKE '%'||#{auditCode}||'%',
            source_domain          LIKE '%'||#{sourceDomain}||'%',
            model_online_time      LIKE '%'||#{model_online_time}||'%',
            audit_scope            LIKE '%'||#{audit_scope}||'%',
            model_url              LIKE '%'||#{model_url}||'%',
            model_OnlineJi_Time    LIKE '%'||#{model_OnlineJi_Time}||'%',
            model_logic            LIKE '%'||#{model_logic}||'%',
            home_system            LIKE '%'||#{home_system}||'%',
            data_source            LIKE '%'||#{data_source}||'%',
            datastart_time         LIKE '%'||#{datastart_time}||'%',
            modelrunning_frequency LIKE '%'||#{modelrunning_frequency}||'%',
            is_cured               LIKE '%'||#{is_cured}||'%',
            "order"                LIKE '%'||#{order}||'%',
            cmwa_export_path       LIKE '%'||#{cmwaExportPath}||'%',
            cmca_file_type         LIKE '%'||#{cmcaFileType}||'%',
            cmca_subject_id        LIKE '%'||#{cmcaSubjectId}||'%',
            source_code            LIKE '%'||#{sourceCode}||'%',
            belong_cmwa            LIKE '%'||#{belongCmwa}||'%',
            version                LIKE '%'||#{version}||'%',
            allow_down             LIKE '%'||#{allowDown}||'%',
            secondary_field        LIKE '%'||#{secondaryField}||'%'
        WHERE ModelNo LIKE '%'||#{modelNo}||'%'
    </update>


    <select id="selectMaintenNoTxMsgByModelNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*) AS noTxmodelCount
        FROM hpeapm."spl_mainten_db" a
        WHERE a."is_tx" = '0'
          AND a."model_no" LIKE '%'||#{auditModelNumber}||'%'
    </select>


    <!--更新审计点超市数据-->
    <update id="updateDbType" parameterType="com.cxsj.mxzd.pojo.MaintenMsgParam">
        UPDATE hpeapm."spl_mainten_db" a
        SET a."is_tx"='1'
        WHERE A."model_no" LIKE '%'||#{auditModelNumber}||'%'
    </update>


    <delete id="delBoncMenuMsg" parameterType="com.cxsj.mxzd.pojo.MaintenMsgParam">
        DELETE
        FROM hpeapm."xbpj_bonc_model"
        WHERE model_no LIKE '%'||#{auditModelNumber}||'%'
    </delete>


    <insert id="insertBoncMenuMsg" parameterType="com.cxsj.mxzd.pojo.MaintenMsgParam">
        INSERT INTO hpeapm."xbpj_bonc_model"
        VALUES (#{menuId}, #{menuName}, #{auditCode}, #{auditModelNumber})
    </insert>


    <select id="selectMaintenMsg" resultType="com.cxsj.mxzd.pojo.MaintenMsgParam" parameterType="java.lang.String">
        SELECT 'Y'                    AS isOnlineSup,
               a."model_url"          AS onlineSupUrl,
               a."business_area"      AS businessAre,
               a."source_domain"      AS sourceDomain,
               a."secondary_field"    AS secondaryField,
               c.source_plat_form     AS sourcePlatForm,
               c.three_group_result   AS threeGroupResult,
               c.subject_second_class AS subjectSecondClass,
               a."bonc_audit_point"      auditCode,
               a."cmwa_export_path"      cmwaExportPath,
               a."cmca_file_type"        cmcaFileType,
               a."cmca_subject_id"       cmcaSubjectId,
               a."source_code"           sourceCode,
               a.belong_cmwa             belongCmwa,
               a."version"               "version",
               a.allow_down              allowDown,
               a."ModelNo"            AS auditModelNumber
        FROM hpeapm."xbpj_operation_flow" a
                 LEFT JOIN hpeapm."xbpj_model_statistics" c
                           ON a."ModelNo" = c.model_no
        WHERE a."ModelNo" LIKE '%'||#{auditModelNumber}||'%' LIMIT 1
    </select>


    <select id="selectModelMsg" resultType="java.util.Map" parameterType="java.lang.String">
SELECT COALESCE(a.primary_business_process, '')   AS business1,
               COALESCE(a.secondary_business_process, '') AS business2,
               a.information_sources                    AS model_source,
               a.remark                                 as remark,
               cc.name                                   share_unit,
               bb.ModelName                           AS second_model_number,
               a.business_area                          AS businessAre,
               a.source_domain                          AS sourceDomain,
               d.model_owner                            AS modelOwner,
               a.quality_rating                         AS qualityRating,
               a.running_mode                           AS runningMode,
               COALESCE(b.sources_audit_practice, '')     AS source,
               COALESCE(b.ascription_special, '')         AS field,
               COALESCE(a.audit_point_number, '')         AS auditPointNo,
               COALESCE(a.audit_point_name, '')           AS auditPointName,
               COALESCE(a.audit_model_number, '')         AS modelNo,
               COALESCE(a.audit_model_name, '')           AS modelName,
               TO_CHAR(
                       TO_DATE(
                               COALESCE(b.model_online_time, ''),
                               'YYYY-MM-DD'
                           ),
                       'YYYYMM'
                   )                                    AS model_online_time,
               COALESCE(
                       a.expected_data_covers_unit_demand,
                       ''
                   )                                    AS audit_scope,
               COALESCE(a.syn_url, '')                    AS model_url,
               COALESCE(b.model_online_time, '')          AS model_OnlineJi_Time,
               COALESCE(a.audit_business_logic, '')       AS model_logic,
               COALESCE(a.execution_logic, '')            AS executionLogic,
               COALESCE(b.service_ownership_system, '')   AS home_system,
               COALESCE(b.model_running_frequency, '')    AS modelrunning_frequency,
               c.modeling_method                        AS modelingMethod,
               d.dock_deputy                            AS modelingUser,
               d.dock_people                            AS modelingUserName,
               d.dock_dept                              AS modelingDeptName,
               b.number_units_covered                   AS units,
               b.number_of_provincial                   AS sunits,
               b.number_professional_institutions       AS zyunits,
               CASE
                   WHEN b.whether_cured_system = '1'
                       THEN '是'
                   ELSE '否'
                   END                                  AS is_cured,
               CASE
                   WHEN sources_audit_practice = '持续审计'
                       THEN '0'
                   WHEN sources_audit_practice = '风险扫描'
                       THEN '1'
                   WHEN sources_audit_practice = '远程审计支撑'
                       THEN '2'
                   WHEN sources_audit_practice = '智能审计'
                       THEN '3'
                   END                                  AS order
        FROM hpeapm.audit_elements_info a
                 LEFT JOIN hpeapm.audit_elements_online_model b
                           ON a.audit_model_number = b.audit_model_number
                 LEFT JOIN hpeapm.audit_elements_model_evaluation c
                           ON a.audit_model_number = c.audit_model_number
                 LEFT JOIN hpeapm.spl_model_type d
                           ON a.audit_model_number = d.audit_model_number
                 LEFT JOIN hpeapm.xbpj_company_model bb
                           ON a.second_model_number = bb.ModelNo
                 LEFT JOIN (
            (SELECT DISTINCT ("busiunitcode" || orgcode)      AS id,
                             (provincename || '-' || orgname) AS name
             FROM hpmgr.bonc_union_orginfos
             WHERE "busiunitcode" = 'CM000')
            UNION
                ALL
            (SELECT DISTINCT "busiunitcode" AS id,
                             provincename AS name
             FROM hpmgr.bonc_union_orginfos
             WHERE "busiunitcode" != 'CM000'
             ORDER BY "busiunitcode")
        ) cc
                           ON a.share_unit = cc.id
        WHERE a.audit_model_number LIKE '%'||#{auditModelNumber}||'%' LIMIT 1
    </select>


    <select id="selectStatisticsTableModelCount" resultType="java.lang.Integer"
            parameterType="com.cxsj.mxzd.pojo.MaintenMsgParam">
        SELECT COUNT(*) AS modelCount
        FROM hpeapm."xbpj_model_statistics" a
        WHERE a."model_no" LIKE '%'||#{auditModelNumber}||'%'
    </select>


    <insert id="insertStatisticsTableModel" parameterType="java.util.Map">
        INSERT INTO hpeapm.xbpj_model_statistics (zr_person, model_no,
                                                    model_name,
                                                    down_num,
                                                    browse_num,
                                                    source_plat_form,
                                                    three_group_result,
                                                    subject_second_class,
                                                    running_mode,
                                                    model_source,
                                                    example_problem_discovery,
                                                    example_clue_extension_verification,
                                                    institutional_basis) VALUES
            ( #{modelOwner},#{modelNo},
            #{modelName},
            0,
            0,
            #{sourcePlatForm},
            #{threeGroupResult},
            #{subjectSecondClass},
            #{runningMode},
            #{model_source},
            #{example_problem_discovery},
            #{example_clue_extension_verification},
            #{institutional_basis}
            )
    </insert>


    <update id="updateStatisticsTableModel" parameterType="java.util.Map">
        UPDATE hpeapm."xbpj_model_statistics"
        SET zr_person                           LIKE '%'||#{modelOwner}||'%',
            model_name                          LIKE '%'||#{modelName}||'%',
            source_plat_form                    LIKE '%'||#{sourcePlatForm}||'%',
            three_group_result                  LIKE '%'||#{threeGroupResult}||'%',
            subject_second_class                LIKE '%'||#{subjectSecondClass}||'%',
            running_mode                        LIKE '%'||#{runningMode}||'%',
            model_source                        LIKE '%'||#{model_source}||'%',
            example_problem_discovery           LIKE '%'||#{example_problem_discovery}||'%',
            example_clue_extension_verification LIKE '%'||#{example_clue_extension_verification}||'%',
            institutional_basis                 LIKE '%'||#{institutional_basis}||'%'
        WHERE model_no LIKE '%'||#{modelNo}||'%'
    </update>





    <delete id="deleteModelChaoshiMsg" parameterType="java.lang.String">
        DELETE
        FROM hpeapm."xbpj_operation_flow"
        WHERE ModelNo LIKE '%'||#{auditModelNumber}||'%'
    </delete>


    <delete id="deleteSupStatisticsMsg" parameterType="java.lang.String">
        DELETE
        FROM hpeapm."xbpj_model_statistics"
        WHERE model_no LIKE '%'||#{auditModelNumber}||'%'
    </delete>


    <insert id="insertCompanyModelStatisticeTableMsg" parameterType="java.util.Map">
        INSERT INTO hpeapm.xbpj_company_model_statistics (model_number,
                                                            model_name,
                                                            order_num,
                                                            browse_num,
                                                            zr_person,
                                                            model_source,
                                                            running_mode,
                                                            institutional_basis,
                                                            example_problem_discovery,
                                                            example_clue_extension_verification) VALUES ( #{modelNo},#{modelName},0,0,#{modelOwner},#{model_source},#{runningMode},#{institutional_basis},#{example_problem_discovery},#{example_clue_extension_verification}
            )
    </insert>


    <!--所属单位模型库更新-->
    <insert id="insertCompanyModelTableMsg" parameterType="java.util.Map">
        insert into hpeapm.xbpj_company_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="business1 != null">
                business1,
            </if>
            <if test="business2 != null">
                business2,
            </if>
            <if test="source != null">
                "source",
            </if>
            <if test="businessArea != null">
                business_area,
            </if>
            <if test="field != null">
                field,
            </if>
            <if test="auditPointNo != null">
                AuditpointNo,
            </if>
            <if test="auditPointName != null">
                AuditpointName,
            </if>
            <if test="modelNo != null">
                ModelNo,
            </if>
            <if test="modelName != null">
                ModelName,
            </if>
            <if test="sourceDomain != null">
                source_domain,
            </if>
            <if test="model_online_time != null">
                model_online_time,
            </if>
            <if test="audit_scope != null">
                audit_scope,
            </if>
            <if test="secondaryField != null">
                secondary_field,
            </if>
            <if test="model_logic != null">
                model_logic,
            </if>
            <if test="home_system != null">
                home_system,
            </if>
            <if test="datastartTime != null">
                datastart_time,
            </if>
            <if test="modelrunning_frequency != null">
                modelrunning_frequency,
            </if>
            <if test="is_cured != null">
                is_cured,
            </if>
            <if test="modelintType != null">
                modelint_type,
            </if>
            <if test="modelingDept != null">
                modeling_dept,
            </if>
            <if test="modelingDeptName != null">
                modeling_dept_name,
            </if>
            <if test="orgcodeId != null">
                org_code,
            </if>
            <if test="orgcodeName != null">
                org_code_name,
            </if>
            <if test="modelingUser != null">
                modeling_user,
            </if>
            <if test="modelingUserName != null">
                modeling_user_name,
            </if>
            <if test="isShare != null">
                is_share,
            </if>
            <if test="model_url != null">
                model_url,
            </if>
            <if test="data_source != null">
                data_source,
            </if>
            <if test="orderDepts != null">
                order_depts,
            </if>
            <if test="executionLogic != null">
                execution_logic,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="business1 != null">
                #{business1},
            </if>
            <if test="business2 != null">
                #{business2},
            </if>
            <if test="source != null">
                #{source},
            </if>
            <if test="businessArea != null">
                #{businessArea},
            </if>
            <if test="field != null">
                #{field},
            </if>
            <if test="auditPointNo != null">
                #{auditPointNo},
            </if>
            <if test="auditPointName != null">
                #{auditPointName},
            </if>
            <if test="modelNo != null">
                #{modelNo},
            </if>
            <if test="modelName != null">
                #{modelName},
            </if>
            <if test="sourceDomain != null">
                #{sourceDomain,jdbcType=VARCHAR},
            </if>
            <if test="model_online_time != null">
                #{model_online_time},
            </if>
            <if test="audit_scope != null">
                #{audit_scope},
            </if>
            <if test="secondaryField != null">
                #{secondaryField,jdbcType=VARCHAR},
            </if>
            <if test="model_logic != null">
                #{model_logic},
            </if>
            <if test="home_system != null">
                #{home_system},
            </if>
            <if test="datastartTime != null">
                #{datastartTime,jdbcType=VARCHAR},
            </if>
            <if test="modelrunning_frequency != null">
                #{modelrunning_frequency},
            </if>
            <if test="is_cured != null">
                #{is_cured},
            </if>
            <if test="modelintType != null">
                #{modelintType,jdbcType=VARCHAR},
            </if>
            <if test="modelingDept != null">
                #{modelingDept,jdbcType=VARCHAR},
            </if>
            <if test="modelingDeptName != null">
                #{modelingDeptName,jdbcType=VARCHAR},
            </if>
            <if test="orgcodeId != null">
                #{orgcodeId},
            </if>
            <if test="orgcodeName != null">
                #{orgcodeName},
            </if>
            <if test="modelingUser != null">
                #{modelingUser,jdbcType=VARCHAR},
            </if>
            <if test="modelingUserName != null">
                #{modelingUserName,jdbcType=VARCHAR},
            </if>
            <if test="isShare != null">
                #{isShare,jdbcType=VARCHAR},
            </if>
            <if test="model_url != null">
                #{model_url},
            </if>
            <if test="data_source != null">
                #{data_source},
            </if>
            <if test="orderDepts != null">
                #{orderDepts,jdbcType=LONGVARCHAR},
            </if>
            <if test="executionLogic != null">
                #{executionLogic}
            </if>
        </trim>
    </insert>


    <delete id="deleteCompanyModelMsgByModelNumber" parameterType="java.lang.String">
        DELETE
        FROM hpeapm."xbpj_company_model"
        WHERE ModelNo LIKE '%'||#{modelNo}||'%'
    </delete>

    <delete id="deleteCompanyModelStaMsgByModelNumber" parameterType="java.lang.String">
        DELETE
        FROM hpeapm."xbpj_company_model_statistics"
        WHERE model_number LIKE '%'||#{modelNo}||'%'
    </delete>


    <select id="selectBusiUnitCodeByName" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT DISTINCT a."busiunitcode"
        FROM hpmgr.bonc_union_orginfos a
        WHERE a.provincename LIKE
              '%' || REPLACE(#{modelingDeptName}, '公司', '') || '%'
    </select>


    <!--更改模型字典模型的状态为已下线-->
    <update id="updateMxzdModelStep" parameterType="java.lang.String">
        UPDATE
            hpeapm."audit_elements_model_evaluation" a
        SET a."model_state" = '完成开发'
        WHERE a."audit_model_number" LIKE '%'||#{mxzdModelNumber}||'%'
          AND a."is_deleted" = '0'
    </update>


    <update id="updateAuditElementInfo" parameterType="com.cxsj.mxzd.pojo.pro.ModelBasisFacade">
        UPDATE
            hpeapm.audit_elements_info a
        SET a.audit_point_name      LIKE '%'||#{autoPointName}||'%'
          , a.audit_model_name      LIKE '%'||#{autoModelName}||'%'
          , a.audit_business_logic  LIKE '%'||#{auditModelBusinessLogic}||'%'
          , a.execution_logic       LIKE '%'||#{executionLogic}||'%'
          , a.subordinate_to_system LIKE '%'||#{dataToSystem}||'%'
          , a.expected_risks        LIKE '%'||#{expectedAuditFind}||'%'
          , a."model_code"          LIKE '%'||#{modelCode}||'%'
          , a."business_area"       LIKE '%'||#{businessArea}||'%'
          , a."source_domain"       LIKE '%'||#{sourceDomain}||'%'
        WHERE a."audit_model_number" LIKE '%'||#{modelNumber}||'%'
    </update>


    <update id="updateAuditModelType" parameterType="java.lang.String">
        UPDATE
            hpeapm."spl_model_type" a
        SET a.audit_model_type = '12'
        WHERE a."audit_model_number" LIKE '%'||#{modelNumber}||'%'
    </update>


    <select id="selectMaintenTbaleMsgCount" resultType="java.lang.Integer"
            parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM hpeapm."spl_mainten_msg" a
        WHERE a."audit_model_number" LIKE '%'||#{auditModelNumber}||'%'
    </select>


    <!-- 插入维护信息 -->
    <insert id="insertMaintenTbaleMsg" parameterType="com.cxsj.mxzd.pojo.MaintenMsgParam">
        INSERT INTO hpeapm.spl_mainten_msg (audit_model_number,
                                            is_online_sup,
                                            online_sup_url,
                                            business_area,
                                            source_domain,
                                            secondary_field,
                                            menu_id,
                                            menu_name,
                                            audit_code,
                                            cmwa_export_path,
                                            cmca_file_type,
                                            cmca_subject_id,
                                            source_code,
                                            version,
                                            belong_cmwa,
                                            allow_down,
                                            source_plat_form,
                                            three_group_result,
                                            subject_second_class)
        VALUES (#{auditModelNumber},
                #{isOnlineSup},
                #{onlineSupUrl},
                #{businessAre},
                #{sourceDomain},
                #{secondaryField},
                #{menuId},
                #{menuName},
                #{auditCode},
                #{cmwaExportPath},
                #{cmcaFileType},
                #{cmcaSubjectId},
                #{sourceCode},
                #{version},
                #{belongCmwa},
                #{allowDown},
                #{sourcePlatForm},
                #{threeGroupResult},
                #{subjectSecondClass})
    </insert>


    <update id="updateMaintenTbaleMsg" parameterType="com.cxsj.mxzd.pojo.MaintenMsgParam">
        UPDATE hpeapm."spl_mainten_msg"
        <set>
            <if test="isOnlineSup != null and isOnlineSup != ''">
                "is_online_sup" LIKE '%'||#{isOnlineSup}||'%',
            </if>
            <if test="onlineSupUrl != null and onlineSupUrl != ''">
                "online_sup_url" LIKE '%'||#{onlineSupUrl}||'%',
            </if>
            <if test="businessAre != null and businessAre != ''">
                "business_area" LIKE '%'||#{businessAre}||'%',
            </if>
            <if test="sourceDomain != null and sourceDomain != ''">
                "source_domain" LIKE '%'||#{sourceDomain}||'%',
            </if>
            <if test="secondaryField != null and secondaryField != ''">
                "secondary_field" LIKE '%'||#{secondaryField}||'%',
            </if>
            <if test="menuId != null and menuId != ''">
                "menu_id" LIKE '%'||#{menuId}||'%',
            </if>
            <if test="menuName != null and menuName != ''">
                "menu_name" LIKE '%'||#{menuName}||'%',
            </if>
            <if test="auditCode != null and auditCode != ''">
                "audit_code" LIKE '%'||#{auditCode}||'%',
            </if>
            <if test="cmwaExportPath != null and cmwaExportPath != ''">
                "cmwa_export_path" LIKE '%'||#{cmwaExportPath}||'%',
            </if>
            <if test="cmcaFileType != null and cmcaFileType != ''">
                "cmca_file_type" LIKE '%'||#{cmcaFileType}||'%',
            </if>
            <if test="cmcaSubjectId != null and cmcaSubjectId != ''">
                "cmca_subject_id" LIKE '%'||#{cmcaSubjectId}||'%',
            </if>
            <if test="sourceCode != null and sourceCode != ''">
                "source_code" LIKE '%'||#{sourceCode}||'%',
            </if>
            <if test="version != null and version != ''">
                "version" LIKE '%'||#{version}||'%',
            </if>
            <if test="belongCmwa != null and belongCmwa != ''">
                "belong_cmwa" LIKE '%'||#{belongCmwa}||'%',
            </if>
            <if test="allowDown != null and allowDown != ''">
                "allow_down" LIKE '%'||#{allowDown}||'%',
            </if>
            <if test="sourcePlatForm != null and sourcePlatForm != ''">
                "source_plat_form" LIKE '%'||#{sourcePlatForm}||'%',
            </if>
            <if test="threeGroupResult != null and threeGroupResult != ''">
                "three_group_result" LIKE '%'||#{threeGroupResult}||'%',
            </if>
            <if test="subjectSecondClass != null and subjectSecondClass != ''">
                "subject_second_class" LIKE '%'||#{subjectSecondClass}||'%',
            </if>
        </set>
        WHERE "audit_model_number" LIKE '%'||#{auditModelNumber}||'%'
    </update>

    <!-- 更新维护信息状态 -->
    <update id="updateMaintenMsgStatus" parameterType="java.lang.String">
        UPDATE hpeapm.spl_mainten_msg
        SET status =0
        WHERE audit_model_number LIKE '%'||#{modelNumber}||'%'
    </update>

    <!-- 定义resultMap -->
    <resultMap id="maintenMsgResultMap" type="com.cxsj.mxzd.pojo.MaintenMsgParam">
        <result property="auditModelNumber" column="audit_model_number"/>
        <result property="isOnlineSup" column="is_online_sup"/>
        <result property="onlineSupUrl" column="online_sup_url"/>
        <result property="businessAre" column="business_area"/>
        <result property="sourceDomain" column="source_domain"/>
        <result property="secondaryField" column="secondary_field"/>
        <result property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="auditCode" column="audit_code"/>
        <result property="cmwaExportPath" column="cmwa_export_path"/>
        <result property="cmcaFileType" column="cmca_file_type"/>
        <result property="cmcaSubjectId" column="cmca_subject_id"/>
        <result property="sourceCode" column="source_code"/>
        <result property="version" column="version"/>
        <result property="belongCmwa" column="belong_cmwa"/>
        <result property="allowDown" column="allow_down"/>
        <result property="sourcePlatForm" column="source_plat_form"/>
        <result property="threeGroupResult" column="three_group_result"/>
        <result property="subjectSecondClass" column="subject_second_class"/>
    </resultMap>


    <select id="selectMaintenMsgByTable" parameterType="java.lang.String" resultMap="maintenMsgResultMap">
        SELECT audit_model_number,
               is_online_sup,
               online_sup_url,
               business_area,
               source_domain,
               secondary_field,
               menu_id,
               menu_name,
               audit_code,
               cmwa_export_path,
               cmca_file_type,
               cmca_subject_id,
               source_code,
               version,
               belong_cmwa,
               allow_down,
               source_plat_form,
               three_group_result,
               subject_second_class
        FROM hpeapm.spl_mainten_msg
        where status = '1'
          and audit_model_number LIKE '%'||#{auditModelNumer}||'%'
    </select>


    <select id="selectMaintenMsgBySupTable" parameterType="java.lang.String" resultMap="maintenMsgResultMap">
        SELECT a."ModelNo"                 audit_model_number,
               a."model_url"               online_sup_url,
               a."business_area"        AS business_area,
               a."source_domain"        AS source_domain,
               a."secondary_field"      AS secondary_field,
               a."bonc_audit_point"     AS audit_code,
               a."cmwa_export_path"        cmwa_export_path,
               a."cmca_file_type"          cmca_file_type,
               a."cmca_subject_id"         cmca_subject_id,
               a."source_code"          AS source_code,
               a."version"              AS "version",
               a."belong_cmwa"          AS belong_cmwa,
               b."source_plat_form"     AS source_plat_form,
               a."allow_down"           AS allow_down,
               b."three_group_result"   AS three_group_result,
               b."subject_second_class" AS subject_second_class
        FROM hpeapm."xbpj_operation_flow" a
                 LEFT JOIN hpeapm."xbpj_model_statistics" b
                           ON a."ModelNo" = b."model_no"
        WHERE a."ModelNo" LIKE '%'||#{auditModelNumer}||'%'
    </select>


    <!--批量删除模型字典所有表当中的数据根据审计模型编码-->
    <delete id="deleteAuditElementsDataCutIn" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_elements_data_cut_in WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}</foreach>;
    </delete>

    <delete id="deleteAuditElementsDataSupportV2" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_elements_data_support_v2 WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}</foreach>;
    </delete>

    <delete id="deleteAuditElementsFindDatabase" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_elements_find_database WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}</foreach>;
    </delete>

    <delete id="deleteAuditElementsHandoverModel" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_elements_handover_model WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}</foreach>;
    </delete>

    <delete id="deleteAuditElementsInfo" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_elements_info WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}</foreach>;
    </delete>

    <delete id="deleteAuditElementsModelEvaluation" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_elements_model_evaluation WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}</foreach>;
    </delete>

    <delete id="deleteAuditElementsOnlineModel" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_elements_online_model WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}</foreach>;
    </delete>

    <delete id="deleteAuditElementsOperationSteps" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_elements_operation_steps WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}</foreach>;
    </delete>

    <delete id="deleteAuditElementCase" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_element_case WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}
        </foreach>;
    </delete>

    <delete id="deleteAuditElementsSystem" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_elements_system WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}
        </foreach>;
    </delete>

    <delete id="deleteAuditSuppInCut" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.audit_supp_in_cut WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}
        </foreach>;
    </delete>

    <delete id="deleteSplBusinessExamine" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.spl_business_examine WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}
        </foreach>;
    </delete>

    <delete id="deleteSplModelType" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.spl_model_type WHERE audit_model_number IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}
        </foreach>;
    </delete>

    <delete id="deleteSplBusinessDb" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.spl_business_db WHERE model_no IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}
        </foreach>;
    </delete>

    <delete id="deleteSplBusinessDy" parameterType="com.cxsj.mxzd.pojo.spl.ExamineandapproveParam">
        DELETE FROM hpeapm.spl_business_dy WHERE model_no IN
        <foreach collection="auditModelNumbers" item="auditModelNumber" index="index" open="(" close=")" separator=",">
            #{auditModelNumber}
        </foreach>;
    </delete>


</mapper>